<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN" "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>
  <!--
    Policy definitions for Xfce Power Manager system-wide actions.
    Copyright (c) 2010 Richard Hughes <richard@hughsie.com>
  -->
  <vendor>Xfce Power Manager</vendor>
  <vendor_url>https://docs.xfce.org/xfce/xfce4-power-manager/start</vendor_url>
  <icon_name>battery</icon_name>
  <action id="org.xfce.power.backlight-helper">
    <!-- SECURITY:
          - A normal active user on the local machine does not need permission
            to change the backlight brightness.
     -->
    <description>Modify the laptop display brightness</description>
    <description xml:lang="zh_TW">修改筆記型電腦顯示亮度</description>
    <description xml:lang="zh_CN">修改笔记本电脑显示器亮度</description>
    <description xml:lang="vi">Chỉnh độ sáng màn hình laptop</description>
    <description xml:lang="uk">Зміна яскравості дисплея ноутбука</description>
    <description xml:lang="ug">يان كومپيۇتېرنىڭ كۆرسەتكۈچ يورۇقلۇقىنى ئۆزگەرتىدۇ</description>
    <description xml:lang="tr">Dizüstü bilgisayar ekranının parlaklığını değiştirin</description>
    <description xml:lang="th">ปรับเปลี่ยนความสว่างของจอภาพคอมพิวเตอร์พกพา </description>
    <description xml:lang="sv">Modifiera den bärbara datorns ljusstyrka</description>
    <description xml:lang="sr">Измени осветљење заслона лаптопа</description>
    <description xml:lang="sq">Ndryshoni ndriçimin e ekranit të portativit</description>
    <description xml:lang="sl">Prilagodi svetlost zaslona prenosnika</description>
    <description xml:lang="sk">Zmeniť jas displeja notebooku</description>
    <description xml:lang="ru">Изменение яркости дисплея ноутбука</description>
    <description xml:lang="ro">Modifică luminozitatea ecranului laptopului</description>
    <description xml:lang="pt">Modificar a luminosidade do ecrã do portátil</description>
    <description xml:lang="pt_BR">Modificar o brilho da tela do notebook</description>
    <description xml:lang="pl">Modyfikowanie jasności ekranu laptopa</description>
    <description xml:lang="oc">Modificar la luminositat de l'afichatge del portable</description>
    <description xml:lang="nl">Verander de helderheid van het laptopscherm</description>
    <description xml:lang="nb">Endre skjermens lysstyrke</description>
    <description xml:lang="lt">Keisti nešiojamojo kompiuterio ryškumą</description>
    <description xml:lang="lo">ປັບປ່ຽນຄວາມສະຫວ່າງໜ້າຈໍຄອມພິວເຕີໂນດບຸກ</description>
    <description xml:lang="ko">랩톱 화면 밝기 조절</description>
    <description xml:lang="kk">Ноутбук экранының жарықтылығын өзгерту</description>
    <description xml:lang="ka">ნოუთბუქის ეკრანის სიკაშკაშის შეცვლა</description>
    <description xml:lang="ja">ラップトップディスプレイの明るさを変更します</description>
    <description xml:lang="it">Modifica la luminosità dello schermo del portatile</description>
    <description xml:lang="hu">A laptopkijelző fényerejének módosítása</description>
    <description xml:lang="he">שנה את בהירות תצוגת הלפטופ</description>
    <description xml:lang="gl">Modificar o brillo da pantalla do portátil</description>
    <description xml:lang="fr">Modifier la luminosité de l’écran de l’ordinateur portable</description>
    <description xml:lang="fi">Muokkaa kannettavan tietokoneen näytön kirkkautta</description>
    <description xml:lang="eu">Aldatu ordenagailu eramangarriaren pantailaren distira</description>
    <description xml:lang="et">Muuda sülearvuti ekraani eredust</description>
    <description xml:lang="es">Modificar el brillo de la pantalla del portátil</description>
    <description xml:lang="en_GB">Modify the laptop display brightness</description>
    <description xml:lang="en_CA">Modify the laptop display brightness</description>
    <description xml:lang="el">Τροποποίηση φωτεινότητας φορητού υπολογιστή</description>
    <description xml:lang="de">Ändern der Helligkeit des Laptop-Bildschirms</description>
    <description xml:lang="da">Ændr lysstyrken på den bærbares skærm</description>
    <description xml:lang="cs">Uzpůsobit jas displeje</description>
    <description xml:lang="ca">Modifica la brillantor de pantalla del portàtil</description>
    <description xml:lang="bg">Промяна на яркостта на дисплея на лаптопа</description>
    <description xml:lang="ast">Camudiar el rellumu de la pantalla del portatil</description>
    <description xml:lang="ar">تعديل سطوع شاشة عرض اللابتوب</description>
    <message>Authentication is required to modify the laptop display brightness</message>
    <message xml:lang="zh_TW">修改筆記型電腦顯示亮度需要驗證</message>
    <message xml:lang="zh_CN">修改笔记本电脑显示器亮度需要进行身份验证</message>
    <message xml:lang="vi">Cần phải xác thực để sửa đổi độ sáng màn hình máy tính xách tay</message>
    <message xml:lang="uk">Для зміни яскравості дисплея ноутбука необхідна автентифікація</message>
    <message xml:lang="ug">يان كومپيۇتېرنىڭ كۆرسەتكۈچ يورۇقلۇقىنى ئۆزگەرتىش ئۈچۈن كىملىك دەلىللەش زۆرۈر</message>
    <message xml:lang="tr">Dizüstü bilgisayar ekranının parlaklığını değiştirmek için kimlik doğrulaması gerekiyor</message>
    <message xml:lang="th">ต้องยืนยันตัวบุคคลก่อนแก้ไขความสว่างของจอภาพคอมพิวเตอร์พกพา</message>
    <message xml:lang="sv">Autentisering krävs för att modifiera ljusstyrkan på den bärbara datorns skärm</message>
    <message xml:lang="sr">Потребна је лозинка ради измене осветљења лаптопа</message>
    <message xml:lang="sq">Që të ndryshoni ndriçimin e ekranit të portativit, lypset të bëni mirëfilltësimin</message>
    <message xml:lang="sl">Za prilagajanje svetlosti prenosnika je potrebna overitev</message>
    <message xml:lang="sk">Na zmenu jasu displeja notebooku je nutná autentifikácia</message>
    <message xml:lang="ru">Для изменения яркости дисплея ноутбука требуется аутентификация</message>
    <message xml:lang="ro">Autentificarea este necesară pentru a modifica luminozitatea ecranului laptopului</message>
    <message xml:lang="pt">A autenticação é necessária para modificar a luminosidade do ecrã do computador portátil</message>
    <message xml:lang="pt_BR">É necessária autenticação para modificar o brilho da tela do notebook</message>
    <message xml:lang="pl">Uwierzytelnianie jest wymagane do modyfikowania jasności ekranu laptopa</message>
    <message xml:lang="oc">Una autentificacion es requerida per modificar la luminositat de l'afichatge del portable</message>
    <message xml:lang="nl">Authenticatie is vereist voor het veranderen van de helderheid van het laptopscherm</message>
    <message xml:lang="nb">Autentisering kreves for å justere skjermens lysstyrke</message>
    <message xml:lang="lt">Norint keisti nešiojamojo kompiuterio ryškumą, reikia nustatyti tapatybę</message>
    <message xml:lang="lo">ຕ້ອງມີການຢືນຢັນຕົວຕົນເພື່ອປັບປ່ຽນຄວາມສະຫວ່າງໜ້າຈໍຄອມພິວເຕີໂນດບຸກ</message>
    <message xml:lang="ko">랩톱 화면 밝기를 조절하려면 인증이 필요합니다</message>
    <message xml:lang="kk">Ноутбук экранының жарықтылығын өзгерту үшін аутентификация керек</message>
    <message xml:lang="ka">ნოუთბუქის ეკრანის სიკაშკაშის შესაცვლელად საჭიროა ავთენტიკაცია</message>
    <message xml:lang="ja">ラップトップディスプレイの明るさを変更するには認証が必要です</message>
    <message xml:lang="it">È richiesta l'autenticazione per modificare la luminosità dello schermo</message>
    <message xml:lang="hu">Hitelesítés szükséges a laptopkijelző fényerejének módosításához</message>
    <message xml:lang="he">נדרש אימות לשינוי בהירות תצוגת הלפטופ</message>
    <message xml:lang="gl">Requírese autenticación para modificar o brillo da pantalla do portátil</message>
    <message xml:lang="fr">L’authentification est nécessaire pour modifier la luminosité de l’écran de l’ordinateur portable.</message>
    <message xml:lang="fi">Tunnistautuminen vaaditaan kannettavan tietokoneen näytön kirkkauden muuttamiseksi</message>
    <message xml:lang="eu">Autentifikazioa beharrezkoa da ordenagailu eramangarriaren pantailaren distira aldatzeko</message>
    <message xml:lang="et">Sülearvuti ekraani ereduse muutmiseks on vajalik autentimine</message>
    <message xml:lang="es">Se requiere autenticación para modificar el brillo de la pantalla del portátil</message>
    <message xml:lang="en_GB">Authentication is required to modify the laptop display brightness</message>
    <message xml:lang="en_CA">Authentication is required to modify the laptop display brightness</message>
    <message xml:lang="el">Απαιτείται πιστοποίηση για τη τροποποίηση της φωτεινότητας φορητού υπολογιστή</message>
    <message xml:lang="de">Um die Helligkeit des Laptop-Bildschirms zu ändern, ist eine Authentifizierung erforderlich.</message>
    <message xml:lang="da">Der kræves godkendelse for at ændre lysstyrken på den bærbares skærm</message>
    <message xml:lang="cs">Pro změnu jasu displeje laptopu je vyžadováno ověření.</message>
    <message xml:lang="ca">Cal autenticació per a modificar la brillantor de pantalla del portàtil</message>
    <message xml:lang="bg">Изисква се удостоверяване, за да промените яркостта на дисплея на лаптопа</message>
    <message xml:lang="ast">Ríquese autentificación pa camudiar el rellumu de la pantalla del portatil</message>
    <message xml:lang="ar">المصادقة مطلوبة لتعديل سطوع شاشة عرض اللابتوب</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/sbin/xfpm-power-backlight-helper</annotate>
  </action>
  <action id="org.xfce.power.xfce4-pm-helper">
    <!-- SECURITY:
          - A normal active user on the local machine does not need permission
            to suspend or hibernate their system.
     -->
    <description>Suspend or hibernate the system</description>
    <description xml:lang="zh_TW">暫停或休眠系統</description>
    <description xml:lang="zh_CN">挂起或休眠系统</description>
    <description xml:lang="vi">Tạm dừng hoặc ngủ đông hệ thống</description>
    <description xml:lang="uk">Призупиніть або переведіть систему в сплячий режим</description>
    <description xml:lang="ug">سىستېمىنى توڭلىتىدۇ ياكى ئۈچەككە كىرگۈزىدۇ</description>
    <description xml:lang="tr">Sistemi askıya al veya hazırda beklet</description>
    <description xml:lang="th">พักเครื่องหรือจำศีลระบบ</description>
    <description xml:lang="sv">Ställ in systemet i viloläge eller vänteläge</description>
    <description xml:lang="sr">Обустави или замрзни систем</description>
    <description xml:lang="sq">Pezulloni, ose plogështoni sistemin</description>
    <description xml:lang="sl">Mirovanje ali pripravljenost sistema</description>
    <description xml:lang="sk">Uspať alebo hibernovať systém</description>
    <description xml:lang="ru">Перевести систему в ждущий или спящий режимы</description>
    <description xml:lang="ro">Suspendarea sau hibernarea sistemului</description>
    <description xml:lang="pt">Suspender ou hibernar o sistema</description>
    <description xml:lang="pt_BR">Suspender ou hibernar o sistema</description>
    <description xml:lang="pl">Wstrzymanie lub hibernowanie systemu</description>
    <description xml:lang="oc">Mesa en velha o mesa en velha perlongada del sistèma</description>
    <description xml:lang="nl">Breng het systeem in pauzestand of in slaapstand</description>
    <description xml:lang="nb">Sett systemet i hvile- eller dvalemodus</description>
    <description xml:lang="lt">Pristabdyti ar užmigdyti sistemą</description>
    <description xml:lang="lo">ພັກເຄື່ອງ ຫຼື ຈຳສິນລະບົບ</description>
    <description xml:lang="ko">시스템 대기 또는 최대 절전</description>
    <description xml:lang="kk">Жүйені ұйықтату немесе гибернациялау</description>
    <description xml:lang="ka">სისტემის პროგრამული ან ჩვეულებრივი ძილი</description>
    <description xml:lang="ja">システムをサスペンドまたはハイバネートします</description>
    <description xml:lang="it">Sospendi o iberna il sistema</description>
    <description xml:lang="hu">A rendszer felfüggesztése vagy hibernálása</description>
    <description xml:lang="he">השהה או הכנס למצב שינה את המערכת</description>
    <description xml:lang="gl">Suspender ou hibernar o sistema</description>
    <description xml:lang="fr">Mettre le système en veille ou en hibernation</description>
    <description xml:lang="eu">Sistema eseki edo hibernatu</description>
    <description xml:lang="et">Vii arvuti talveunne või uinakule</description>
    <description xml:lang="es">Suspender o hibernar el sistema</description>
    <description xml:lang="en_GB">Suspend or hibernate the system</description>
    <description xml:lang="en_CA">Suspend or hibernate the system</description>
    <description xml:lang="el">Αναστολή ή αδρανοποίηση συστήματος</description>
    <description xml:lang="de">Das System in Bereitschaft oder in den Ruhezustand versetzen</description>
    <description xml:lang="da">Sæt systemet i hvile eller dvale</description>
    <description xml:lang="cs">Zapnout režim spánku nebo hibernaci</description>
    <description xml:lang="ca">Suspèn o hiberna el sistema</description>
    <description xml:lang="bg">Приспиване или хибернация на системата</description>
    <description xml:lang="ast">Suspender o ivernar el sistema</description>
    <description xml:lang="ar">تعليق أو إسبات النظام</description>
    <message>Authentication is required to place the system in suspend or hibernate mode</message>
    <message xml:lang="zh_TW">讓系統進入暫停或休眠模式需要驗證</message>
    <message xml:lang="zh_CN">需要身份验证才能将系统置于挂起或休眠模式</message>
    <message xml:lang="vi">Cần có xác thực để đặt hệ thống ở chế độ tạm dừng hoặc ngủ đông</message>
    <message xml:lang="uk">Для переведення системи в режим очікування або сплячий режим необхідна автентифікація</message>
    <message xml:lang="ug">سىستېمىنى توڭلىتىش ياكى ئۈچەك ھالىتىگە كىرگۈزۈش ئۈچۈن كىملىك دەلىللەش زۆرۈر</message>
    <message xml:lang="tr">Sistemi askıya alma veya hazırda bekletme moduna geçirmek için kimlik doğrulaması gerekiyor</message>
    <message xml:lang="th">ต้องยืนยันตัวบุคคลก่อนการพักเครื่องหรือการจำศีลเครื่อง</message>
    <message xml:lang="sv">Autentisering krävs för att sätta systemet i viloläge eller vänteläge</message>
    <message xml:lang="sr">Потребна је лозинка ради смештања система у обуставу или замрзавање</message>
    <message xml:lang="sq">Që të kaloni sistemin nën mënyrën pezullim, ose plogështim, duhet të bëni mirëfilltësimin</message>
    <message xml:lang="sl">Za prehod v stanje mirovanja ali pripravljenosti je potrebna overitev</message>
    <message xml:lang="sk">Na uspanie a hibernovanie systému je nutná autentifikácia</message>
    <message xml:lang="ru">Для перевода системы в ждущий или спящий режимы необходима аутентификация</message>
    <message xml:lang="ro">Autentificarea este necesară pentru a plasa sistemul în modul de suspendare sau de hibernare</message>
    <message xml:lang="pt">A autenticação é necessária para colocar o sistema em modo suspenso ou em hibernação</message>
    <message xml:lang="pt_BR">É necessária autenticação para colocar o sistema em modo suspenso ou em hibernação</message>
    <message xml:lang="pl">Uwierzytelnianie jest wymagane do wprowadzania systemu w tryb wstrzymania lub hibernacji</message>
    <message xml:lang="oc">Una autorizacion es requerida per botar lo sistèma en mòde velha o velha perlongada</message>
    <message xml:lang="nl">Authenticatie is vereist om het systeem in pauzestand of in slaapstand te kunnen brengen</message>
    <message xml:lang="nb">Autentisering kreves for å sette systemet i hvile- eller dvalemodus</message>
    <message xml:lang="lt">Norint pristabdyti ar užmigdyti sistemą, reikia nustatyti tapatybę</message>
    <message xml:lang="lo">ຕ້ອງມີການຢືນຢັນຕົວຕົນເພື່ອໃຫ້ລະບົບເຂົ້າສູ່ໂໝດພັກເຄື່ອງ ຫຼື ຈຳສິນ</message>
    <message xml:lang="ko">시스템을 대기 또는 최대 절전 모드에 두려면 인증이 필요합니다</message>
    <message xml:lang="kk">Жүйені ұйықтату немесе гибернациялау үшін аутентификация керек</message>
    <message xml:lang="ka">სისტემის ჩვეულებრივი ან პროგრამული ძილისთვის აუცილებელია ავთენტიკაცია</message>
    <message xml:lang="ja">システムをサスペンドまたはハイバネートするには認証が必要です</message>
    <message xml:lang="it">È richiesta l'autenticazione per sospendere o ibernare il sistema</message>
    <message xml:lang="hu">Hitelesítés szükséges a rendszer felfüggesztéséhez vagy hibernálásához</message>
    <message xml:lang="he">נדרש אימות להכנסת המערכת להשהיה או למצב שינה</message>
    <message xml:lang="gl">Requírese autenticación para pór o sistema en modo de suspensión ou hibernación</message>
    <message xml:lang="fr">L’authentification est nécessaire pour placer le système en mode veille ou en mode hibernation</message>
    <message xml:lang="eu">Autentifikazioa beharrezkoa da sistema eteteko edo hibernatzeko moduan jartzeko</message>
    <message xml:lang="et">Selleks, et viia arvuti talveunne või uinakule  on vajalik autentimine</message>
    <message xml:lang="es">Se requiere autenticación para poner el sistema en modo de suspensión o hibernación.</message>
    <message xml:lang="en_GB">Authentication is required to place the system in suspend or hibernate mode</message>
    <message xml:lang="en_CA">Authentication is required to place the system in suspend or hibernate mode</message>
    <message xml:lang="el">Απαιτείται πιστοποίηση για την αναστολή ή αδρανοποίηση του συστήματος</message>
    <message xml:lang="de">Um das System in Bereitschaft oder in den Ruhezustand zu versetzen, ist eine Authentifizierung erforderlich.</message>
    <message xml:lang="da">Der kræves godkendelse for at sætte systemet i hvile- eller dvaletilstand</message>
    <message xml:lang="cs">Pro zapnutí režimu spánku nebo hibernace je vyžadováno ověření</message>
    <message xml:lang="ca">Cal autenticació per a suspendre o hibernar el sistema</message>
    <message xml:lang="bg">Изисква се удостоверяване, за да въведете системата в режим на приспиване или хибернация</message>
    <message xml:lang="ast">Ríquese autentificación pa suspender o ivernar el sistema</message>
    <message xml:lang="ar">المصادقة مطلوبة لإسبات النظام أو تعليقه</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/sbin/xfce4-pm-helper</annotate>
  </action>
</policyconfig>
