[Xfce Panel]
Type=X-XFCE-PanelPlugin
Encoding=UTF-8
Name[ar]=توصيل الأجهزة
Name[ast]=Preseos pa montar
Name[be]=Мантаванне прылад
Name[bg]=Устройства за монтиране
Name[ca]=Muntatge de dispositius
Name[cs]=Připojená zařízení
Name[da]=Montér enheder
Name[de]=Geräte einhängen
Name[el]=Προσάρτηση συσκευών
Name[en_AU]=Mount devices
Name[en_CA]=Mount devices
Name[en_GB]=Mount devices
Name[es]=Montar dispositivos
Name[et]=Seadmete haakimine
Name[eu]=Gailuak muntatu
Name[fi]=Liitä laitteita
Name[fr]=Monter les périphériques
Name[gl]=Montar dispositivos
Name[he]=עגן התקנים
Name[hr]=Montiraj uređaje
Name[hu]=Eszközök csatolása
Name[hye]=Միացնել սարքերը
Name[id]=Divais kait
Name[ie]=Monter aparates
Name[is]=Tengja tæki í skráakerfi
Name[it]=Monta dispositivi
Name[ja]=デバイスのマウント
Name[ka]=მოწყობილობების მიმაგრება
Name[kk]=Құрылғыларды тіркеу
Name[ko]=장치 마운트
Name[lo]=ຕິດຕັ້ງອຸປະກອນ
Name[lt]=Prijungti įrenginiai
Name[lv]=Montēt ierīces
Name[ms]=Lekap peranti
Name[nb]=Montering av enheter
Name[nl]=Apparaten aankoppelen
Name[oc]=Montar los periferics
Name[pa]=ਮਾਊਂਟ ਜੰਤਰ
Name[pl]=Montowanie urządzeń
Name[pt_BR]=Montar dispositivos
Name[pt]=Montar dispositivos
Name[ro]=Montare dispozitive
Name[ru]=Монтирование устройств
Name[sk]=Pripojenie zariadení
Name[sq]=Monto pajisje
Name[sr]=Прикачи уређаје
Name[sv]=Montera enheter
Name[th]=เมานท์อุปกรณ์
Name[tr]=Aygıtları Bağla
Name[ug]=ئۈسكۈنە ئېگەرلە
Name[uk]=Монтування/Відображення пристроїв
Name[ur_PK]=ماؤنٹ ڈیواسس
Name[ur]=ماؤنٹ ڈیواسس
Name[vi]=Thiết bị gắn
Name[zh_CN]=挂载设备
Name[zh_TW]=掛載裝置
Name=Mount devices
Comment[ar]=عرض كل الأجهزة القابلة للتوصيل و (إلغاء)توصيل عند الطلب.
Comment[ast]=Amuesa tolos preseos que puen montase y (des)montalos bao demanda.
Comment[be]=Паказваць усе прылады, якія можна прымантаваць і адмантаваць.
Comment[bg]=Показване на всички монтируеми устройства и (де)монтиране при заявка
Comment[ca]=Mostra tots els dispositius que es poden muntar i els (des)munta a petició.
Comment[cs]=Zobrazuje všechna připojitelná zařízení a na požádání je odpojuje.
Comment[da]=Vis alle montérbare enheder og (af)monter dem på forespørgsel.
Comment[de]=Zeigt alle einhängbaren Geräte an und hängt sie bei Mausklick ein/aus.
Comment[el]=Εμφανίζει όλες τις προσαρτώμενες συσκευές και τις (απο)προσαρτά κατά βούληση.
Comment[en_AU]=Shows all mountable devices and (un)mounts them on request.
Comment[en_CA]=Shows all mountable devices and (un)mounts them on request.
Comment[en_GB]=Shows all mountable devices and (un)mounts them on request.
Comment[es]=Monta y desmonta dispositivos a la carta
Comment[et]=Kõikide haagitavate seadmete kuvamine ja haakimine või eemaldamine.
Comment[eu]=Gailu muntagarri guztiak bistarazi eta eskatzean (des)muntatu.
Comment[fi]=Näyttää liitettävissä olevat laitteet ja liittää tai irrottaa ne pyydettäessä.
Comment[fr]=Affiche tous les périphériques pouvant être montés et les (dé)monte à la demande. 
Comment[gl]=Amosa os dispositivos montábeis e (des)móntaos segundo se solicite.
Comment[he]=מציג את כל ההתקנים הניתנים לעגינה ומבצע להם (ביטול) עגינה לפי בקשה.
Comment[hr]=Prikazuje sve uređaje koji se mogu montirati i (de)montira ih na zahtjev.
Comment[hu]=Minden csatolható eszköz megjelenítése és kérésre leválasztása.
Comment[id]=Tampilkan semua divais yang dapat dikait dan (lepas)kait sesuai permintaan.
Comment[ie]=Monstrar omni montibil aparates e (des)monte les al demande.
Comment[is]=Birtir öll tengjanleg tæki og tengir/aftengir þau eftir þörfum.
Comment[it]=Mostra tutti i dispositivi montabili e li (s)monta a richiesta.
Comment[ja]=マウント可能なデバイスを表示し、必要に応じてこれらをマウント/マウント解除します。
Comment[ka]=აჩვენებს ყველა მიმაგრებად მოწყობილობას და მიამაგრებს (მოხსნის) მოთხოვნისამებრ.
Comment[kk]=Тіркеуге болатын барлық құрылғыларды көрсетеді және сұраныс бойынша оларды тіркейді немесе ажыратады.
Comment[ko]=마운트 가능한 장치를 나타내고 필요에 따라 마운트 또는 언마운트합니다.
Comment[lo]=ສະແດງອຸປະກອນທັງໝົດທີ່ຕິດຕັ້ງໄດ້ ແລະ ທຳການຕິດຕັ້ງ/ຖອນການຕິດຕັ້ງຕາມການຮ້ອງຂໍ.
Comment[lt]=Rodo visus prijungiamus įrenginius ir juos prijungia/atjungia.
Comment[lv]=Rāda visus montējamās ierīces un (at)montē tās pēc pieprasījuma.
Comment[ms]=Tunjukkan semua peranti boleh lepas dan nyahlekap ia bila dipinta.
Comment[nb]=Viser alle monterbare enheter og (av)monterer etter ønske.
Comment[nl]=Geeft alle koppelbare apparaten weer en (ont)koppelt ze op verzoek.
Comment[oc]=Aficha totes los periferics que pòdon èsser montats e los (des)monta a la demanda.
Comment[pl]=Wyświetla urządzenia oraz je montuje i odmontowywuje
Comment[pt_BR]=Mostra todos os dispositivos montáveis e (des)monta-os quando solicitado.
Comment[pt]=Mostra todos os dispositivos montáveis e (des)monta-os a pedido.
Comment[ro]=Afișează toate dispozitivele care pot fi montate și le (dez)montează la cerere.
Comment[ru]=Показывать все устройства, возможные для монтирования и (раз)монтировать их при запросе.
Comment[sk]=Zobrazuje všetky pripojiteľné zariadenia a na požiadanie ich odpojuje
Comment[sq]=Shfaq tërë pajisjet e montueshme dhe i (ç)monton ato sipas kërkesave.
Comment[sr]=Прикажи све прикачиве уређаје о при(от)качи их на захтев.
Comment[sv]=Visar alla monteringsbara enheter och (av)monterar dem på begäran.
Comment[th]=แสดงอุปกรณ์ที่เมานท์ได้ และ(เลิก)เมานท์ตามสั่ง
Comment[tr]=Bağlanabilir aygıtları gösterir ve talebe göre bağlar/ayırır. 
Comment[ug]=ئىلتىماس قىلغاندا ئېگەرلىگىلى ۋە ئېگەرسىزلىگىلى بولىدىغان ئۈسكۈنىلەرنى كۆرسىتىدۇ‪.
Comment[uk]=Показати всі доступні для монтування пристрої і демонтовані тут в запиті.
Comment[ur_PK]=تمام قابلِ ماؤنٹ ڈیوائس ظاہر کریں اور انہیں درخواست پر ان ماؤنٹ کریں
Comment[ur]=تمام قابلِ ماؤنٹ ڈیوائس ظاہر کریں اور انہیں درخواست پر ان ماؤنٹ کریں
Comment[vi]=Hiển thị tất cả thiết bị có thể gắn và (bỏ) gắn chúng theo yêu cầu.
Comment[zh_CN]=显示所有可挂载的设备并在需要时挂载或卸载它们。
Comment[zh_TW]=顯示全部可掛載的裝置，並依自身需求掛載或卸載裝置。
Comment=Shows all mountable devices and (un)mounts them on request.
Icon=drive-harddisk
X-XFCE-Internal=FALSE
X-XFCE-Module=mount
X-XFCE-API=2.0
