[Xfce Panel]
Type=X-XFCE-PanelPlugin
Encoding=UTF-8
Name[ar]=عرض البريد
Name[ast]=Vixilante del corréu
Name[be]=Праверка пошты
Name[bg]=Преглед на пощата
Name[ca]=Avís de correu
Name[cs]=Sledování pošty
Name[da]=Postovervåger
Name[de]=Nachrichtenüberwachung
Name[el]=Παρακολούθηση αλληλογραφίας
Name[en_AU]=Mail Watcher
Name[en_CA]=Mail Watcher
Name[en_GB]=Mail Watcher
Name[es]=Vigilancia del correo
Name[et]=E-posti jälgija
Name[eu]=Posta arakatzailea
Name[fi]=Postivahti
Name[fr]=Surveillance du courrier
Name[gl]=Avisador de correo
Name[he]=בודק דוא״ל
Name[hr]=Motritelj pošte
Name[hu]=Levélfigyelő
Name[id]=Pengawas Surat
Name[ie]=Controler de postage
Name[is]=Tölvupóstvöktun
Name[it]=Guardaposta
Name[ja]=メールウォッチャー
Name[kk]=Поштаны тексеруші
Name[ko]=메일 감시기
Name[lo]=ຕົວຕິດຕາມເມລ
Name[lt]=Pašto stebėtojas
Name[lv]=Pasta uzraugs
Name[ms]=Pemantau Mel
Name[nb]=E-postvarsling
Name[nl]=Postbewaker
Name[oc]=Susvelhança del corrièr
Name[pl]=Powiadamianie o poczcie
Name[pt_BR]=Monitor de mensagens
Name[pt]=Monitor de correio
Name[ro]=Monitor de corespondență
Name[ru]=Проверка почты
Name[sk]=Sledovanie pošty
Name[sl]=Opazovalec pošte
Name[sq]=Vëzhgues Poste
Name[sr]=Осматрач поште
Name[sv]=E-postbevakare
Name[th]=ปลั๊กอินเฝ้าดูเมล
Name[tr]=E-Posta İzleyici
Name[ug]=ئېلخەت كۆزەتكۈچ
Name[uk]=Перевірка пошти
Name[ur_PK]=میل واچر
Name[ur]=میل واچر
Name[vi]=Theo dõi Thư
Name[zh_CN]=邮件监视器
Name[zh_TW]=郵件監視器
Name=Mail Watcher
Comment[ar]=التحقق من البريد من صناديق بريد متعددة
Comment[ast]=Comprueba'l corréu de dellos buzones
Comment[be]=Праверка пошты з некалькіх паштовых скрыняў
Comment[bg]=Проверка на пощата от няколко пощенски кутии
Comment[ca]=Comproveu el correu de diverses bústies de correu
Comment[cs]=Ověřovat poštu ve více schránkách.
Comment[da]=Tjek post fra flere postkasser
Comment[de]=Mehrere Postfächer auf neue Nachrichten überprüfen
Comment[el]=Έλεγχος αλληλογραφίας από πολλά γραμματοκιβώτια
Comment[en_AU]=Check mail from multiple mailboxes
Comment[en_CA]=Check mail from multiple mailboxes
Comment[en_GB]=Check mail from multiple mailboxes
Comment[es]=Comprueba el correo de múltiples buzones
Comment[et]=Kontrolli e-kirju mitmest postkastist
Comment[eu]=Postontzi anitzetako posta arakatu
Comment[fi]=Tarkista posti useista postilaatikoista
Comment[fr]=Consulter le courrier à partir de plusieurs boîtes aux lettres
Comment[gl]=Comproba o correo de varias caixas de correo
Comment[he]=בדוק דוא״ל מתוך מספר תיבות
Comment[hr]=Provjeri poštu iz višestrukih poštanskih sandučića
Comment[hu]=Levél ellenőrzése több postafiókból
Comment[id]=Cek surat dari banyak kotak surat
Comment[is]=Athuga með póst í mörgum pósthólfum
Comment[it]=Controlla la posta da diverse caselle
Comment[ja]=様々なタイプのメールボックスに届くメールをチェックします
Comment[kk]=Бірнеше пошта жәшігінен хаттарды тексеру
Comment[ko]=여러 개의 메일함에서 메일을 확인합니다
Comment[lo]=ກວດສອບເມລຈາກຫຼາຍກ່ອງຈົດໝາຍ
Comment[lt]=Tikrinti paštą iš kelių pašto dėžučių
Comment[lv]=Pārbaudīt pastu vairākās pastkastītēs
Comment[ms]=Semak mel dari kotak mel berbilang
Comment[nb]=Varsle epost fra flere postkasser
Comment[nl]=Controleer op post van verschillende postbussen
Comment[oc]=Susvelhar lo corrièr de multiplas bóstias de letras
Comment[pl]=Powiadamia o nowej poczcie w wielu skrzynkach pocztowych
Comment[pt_BR]=Verificar mensagens de várias caixas de mensagens
Comment[pt]=Verificar correio de várias caixas de correio
Comment[ro]=Verifică corespondența din mai multe căsuțe poștale
Comment[ru]=Проверка почты из нескольких ящиков
Comment[sk]=Kontrolovať poštu vo viacerých schránkach
Comment[sl]=Preveri pošto iz več poštnih predalov
Comment[sq]=Kontrollo për postë prej shumë kutish postare
Comment[sr]=Освежи пошту на вишеструким поштанским сандучићима
Comment[sv]=Kontrollera e-post från många brevlådor
Comment[th]=ตรวจสอบเมลจากกล่องเมลหลายกล่อง
Comment[tr]=Çoklu posta kutularından postaları denetle
Comment[ug]=ھەر خىل خەت ساندۇقلىرىغا كەلگەن يېڭى ئېلخەتلەرنى كۆزىتىدۇ
Comment[uk]=Перевіряти пошту з кількох поштових скриньок
Comment[ur_PK]=متعدد میل بکس کی میل چیک کریں
Comment[ur]=متعدد میل بکس کی میل چیک کریں
Comment[vi]=Kiểm tra thư từ nhiều hộp thư
Comment[zh_CN]=从多个邮箱中检查邮件
Comment[zh_TW]=檢查諸多信箱中的信件
Comment=Check mail from multiple mailboxes
Icon=xfce-newmail
X-XFCE-Module=mailwatch
X-XFCE-Internal=false
X-XFCE-API=2.0
