[Xfce Panel]
Type=X-XFCE-PanelPlugin
Encoding=UTF-8
Name[ar]=مرقاب حمل النظام
Name[ast]=Monitor de carga del sistema
Name[be]=Загрузка сістэмы
Name[bg]=Наблюдение на натоварването на системата
Name[ca]=Monitor de la càrrega del sistema
Name[cs]=Sledování vytížení systému
Name[da]=Systembelastningsovervågning
Name[de]=Überwachung der Systemlast
Name[el]=Απεικόνιση φορτίων συστήματος
Name[en_AU]=System Load Monitor
Name[en_CA]=System Load Monitor
Name[en_GB]=System Load Monitor
Name[es]=Monitor de la carga de sistema
Name[et]=Süsteemi koormuse jälgija
Name[eu]=Sistemaren karga monitorea
Name[fi]=Järjestelmän kuorman seuranta
Name[fr]=Moniteur de la charge du système
Name[gl]=Monitor de carga do sistema
Name[he]=עוקב עומס מערכת
Name[hr]=Monitor učitavanja sustava
Name[hu]=Rendszerterhelés-figyelő
Name[hye]=Համակարգը բեռնում է ցուցասարքը
Name[id]=Monitor Beban Sistem
Name[ie]=Monitor de charge del sistema
Name[is]=Eftirlit með kerfisálagi
Name[it]=Indicatore del carico di sistema
Name[ja]=システム負荷モニター
Name[kk]=Жүйе жүктемесін бақылау
Name[ko]=시스템 부하 감시기
Name[lo]=ເຄື່ອງມືຕິດຕາມພາລະຂອງລະບົບ
Name[lt]=Sistemos apkrovos prižiūryklė
Name[lv]=Sistēmas noslodzes pārraugs
Name[ms]=Pemantau Muatan Sistem
Name[nb]=Systemlastmonitor
Name[nl]=Systeembelastingbewaker
Name[oc]=Monitor de la carga del sistèma
Name[pl]=Monitor obciążenia systemu
Name[pt_BR]=Monitor de carga do sistema
Name[pt]=Monitor da carga do sistema
Name[ro]=Monitor al stării de încărcare a sistemului
Name[ru]=Загрузка системы
Name[sk]=Sledovanie vyťaženia systému
Name[sl]=Nadzornik obremenjenosti sistema
Name[sq]=Mbikëqyrës Ngarkese Sistemi
Name[sr]=Праћење заузећа система
Name[sv]=Övervaka systembelastning
Name[th]=เครื่องมือเฝ้าสังเกตโหลดระบบ
Name[tr]=Sistem Yükü Gözlemcisi
Name[ug]=سىستېما يۈكى كۆزەتكۈچ
Name[uk]=Стеження за навантаженням системи
Name[ur_PK]=نظام لوڈ مانیٹر
Name[ur]=نظام لوڈ مانیٹر
Name[vi]=Tải Hệ thống
Name[zh_CN]=系统负载监视器
Name[zh_TW]=系統負載監視
Name=System Load Monitor
Comment[bg]=Наблюдение на натоварването на процесора, използването на swap, обема на паметта и използването на мрежата
Comment[ca]=Monitora la càrrega de la CPU, l'ús de l'intercanvi, la petjada de la memòria i l'ús de la xarxa.
Comment[cs]=Sleduje vytížení procesoru, využití oddílu swap, paměti a sítě
Comment[de]=Überwache die CPU-Auslastung, die Swap-Nutzung, den Arbeitsspeicherbedarf und die Netzwerknutzung
Comment[en_GB]=Monitor CPU load, swap usage, memory footprint and network usage
Comment[et]=Jälgi protsessori koormust, saaleala ja mälu kasutust ning võrguliiklust
Comment[fr]=Surveiller la charge du CPU, l’utilisation du swap, l’empreinte mémoire et l’utilisation du réseau
Comment[it]=Monitora il carico della CPU, l'utilizzo della swap, della memoria e della rete
Comment[ja]=CPU負荷、スワップ使用量、メモリ使用量、ネットワーク使用量を監視します
Comment[kk]=CPU жүктемесін, swap қолданылуын, жады көлемін және желі қолданылуын бақылау
Comment[ko]=CPU 부하, 스왑 사용량, 메모리 사용량, 네트워크 전송 부하량을 감시합니다
Comment[lo]=ຕິດຕາມພາລະຂອງ CPU, ການໃຊ້ Swap, ໜ່ວຍຄວາມຈຳ ແລະ ການໃຊ້ເຄືອຂ່າຍ
Comment[lt]=Stebėti procesoriaus apkrovą, sukeitimų srities naudojimą, atminties pėdsaką bei tinklo naudojimą
Comment[nl]=Bewaak CPU-belasting, (wissel)geheugengebruik en netwerkgebruik
Comment[oc]=Susvelhar la carga CPU, l’utilizacion de la memòria d’escambi, l’emprenta memòria e l’utilizacion del ret
Comment[pl]=Monitor obciążenia procesora, użycia pamięci i wykorzystania sieci
Comment[pt_BR]=Monitorar carga da CPU, uso de swap, pegada de memória e uso de rede
Comment[pt]=Monitoriza a carga da CPU, a utilização da memória swap, a pegada de memória e a utilização da rede
Comment[ro]=Monitorizează încărcarea CPU-ului, utilizarea memoriei swap, consumul de memorie și utilizarea rețelei
Comment[ru]=Отслеживание загрузки процессора, использования подкачки, потребления памяти и активности сети
Comment[sq]=Mbikëqyrni ngarkesë CPU-je, përdorim swap-i, kujtesë të përdorur dhe përdorim rrjeti
Comment[sr]=Надгледа оптерећење ЦПУ, заузећа меморије и употребу мреже
Comment[sv]=Övervaka CPU-belastning, växlingsutrymme, minnesutrymme och nätverksanvändning
Comment[th]=เฝ้าสังเกตโหลดของซีพียู, การใช้พื้นที่สลับ, การใช้หน่วยความจำ และการใช้เครือข่าย
Comment[tr]=CPU yükünü, takas kullanımını, bellek kullanımını ve ağ kullanımını izle
Comment[zh_CN]=监控 CPU 负载、交换分区使用情况、内存占用和网络使用情况
Comment[zh_TW]=監控 CPU 負載、swap 使用量、記憶體使用量與網路使用量
Comment=Monitor CPU load, swap usage, memory footprint and network usage
Icon=org.xfce.panel.systemload
X-XFCE-Module=systemload
X-XFCE-Internal=false
X-XFCE-API=2.0
