[Desktop Entry]
Version=1.0
Type=Application
Exec=xfce-open --launch TextEditor
Icon=org.xfce.texteditor
StartupNotify=true
Terminal=false
Categories=Utility;X-XFCE;X-Xfce-Toplevel;
Keywords=text;document;edit;xfce;
OnlyShowIn=XFCE;
X-XFCE-MimeType=text/plain;application/x-zerosize;
X-AppStream-Ignore=True
Name[bg]=Текстов редактор
Name[ca]=Editor de text
Name[cs]=Textový editor
Name[da]=Standardtekstredigering
Name[de]=Text-Editor
Name[el]=Επεξεργαστής κειμένου
Name[en_GB]=Text Editor
Name[es]=Editor de texto
Name[et]=Tekstitoimeti
Name[fr]=Éditeur de texte
Name[it]=Editor di Testo
Name[ja]=テキストエディター
Name[kk]=Мәтін түзеткіші
Name[lo]=ໂປຣແກຣມແກ້ໄຂຂໍ້ຄວາມ
Name[lt]=Tekstų redaktorius
Name[nl]=Tekstbewerker
Name[oc]=Editor de tèxt
Name[pl]=Edytor tekstu
Name[pt_BR]=Editor de texto
Name[pt]=Editor de texto
Name[ro]=Editor de text
Name[ru]=Текстовый редактор
Name[sl]=Urejevalnik besedil
Name[sq]=Përpunues Tekstesh
Name[sr]=Уредник писма
Name[sv]=Textredigerare
Name[th]=เครื่องมือแก้ไขข้อความ
Name[tr]=Metin Düzenleyici
Name[ug]=تېكىست تەھرىرلىگۈچ
Name[uk]=Текстовий редактор
Name[vi]=Trình soạn thảo văn bản
Name[zh_CN]=文本编辑器
Name[zh_TW]=文字編輯器
Name=Text Editor
Comment=View and edit text files
