[Desktop Entry]
Version=1.0
Type=Application
Exec=xfce-open --launch ImageViewer %u
Icon=org.xfce.imageviewer
NoDisplay=True
StartupNotify=true
Terminal=false
Categories=Graphics;X-XFCE;X-Xfce-Toplevel;
Keywords=Image;Photo;Picture;Viewer;Graphics;Xfce;
OnlyShowIn=XFCE;
X-XFCE-MimeType=image/avif;image/bmp;image/gif;image/jpeg;image/jxl;image/png;image/svg+xml;image/svg+xml-compressed;image/tiff;image/webp;
X-AppStream-Ignore=True
Name[bg]=Преглед на изображения
Name[ca]=Visualitzador d'imatges
Name[cs]=Prohlížeč obrázků
Name[da]=Billedfremviser
Name[de]=Bildbetrachter
Name[el]=Προβολή εικόνων
Name[en_GB]=Image Viewer
Name[es]=Visor de imágenes
Name[et]=Pildivaataja
Name[fr]=Visionneur d’images
Name[it]=Visualizzatore di Immagini
Name[ja]=画像ビューア
Name[kk]=Сурет көрсетушісі
Name[lo]=ໂປຣແກຣມເບິ່ງຮູບພາບ
Name[lt]=Paveikslų žiūryklė
Name[nl]=Afbeeldingenkijker
Name[oc]=Visionador d’imatges
Name[pl]=Przeglądarka obrazów
Name[pt_BR]=Visualizador de imagens
Name[pt]=Visualizador de imagens
Name[ro]=Vizor de imagini
Name[ru]=Просмотр изображений
Name[sl]=Pregledovalnik slik
Name[sq]=Parës Figurash
Name[sr]=Прегледник слика
Name[sv]=Bildvisare
Name[th]=โปรแกรมดูรูปภาพ
Name[tr]=Resim Görüntüleyici
Name[ug]=سۈرەت كۆرگۈچ
Name[uk]=Переглядач зображень
Name[vi]=Trình xem ảnh
Name[zh_CN]=图像查看器
Name[zh_TW]=影像檢視程式
Name=Image Viewer
Comment=View image files
