[Desktop Entry]
Version=1.0
Type=Application
Exec=xfce-open --launch WebBrowser %u
Icon=org.xfce.webbrowser
StartupNotify=true
Terminal=false
Categories=Network;X-XFCE;X-Xfce-Toplevel;
Keywords[bg]=интернет;уеб браузър;сърфиране;търсачка;xfce;
Keywords[ca]=internet;web;navegador;navegar;explorar;xfce;
Keywords[cs]=internet;web;prohlížeč;surfování;prozkoumat;xfce;
Keywords[da]=internet;web;browser;surf;udforsk;xfce;
Keywords[de]=Internet;Web;Browser;Surfen;Erkunden;xfce;
Keywords[el]=διαδίκτυο;διαδίκτυο;περιηγητής;περιήγηση;εξερεύνηση;xfce;
Keywords[en_CA]=internet;web;browser;surf;explore;xfce;
Keywords[en_GB]=internet;web;browser;surf;explore;xfce;
Keywords[es]=internet;web;navegador;navegar;explorar;xfce;
Keywords[et]=internet;veeb;brauser;veebibrauser;xfce;
Keywords[eu]=internet;web;arakatzailea;surfeatu;esploratu;xfce;
Keywords[fi]=internet;web;browser;surf;explore;xfce;selain;netti;
Keywords[fr]=internet;web;browser;surf;explore;xfce;navigateur;exploreur;
Keywords[gl]=internet;web;browser;surf;explore;xfce;navegador;explorador;
Keywords[he]=internet;web;browser;surf;explore;xfce;
Keywords[hu]=internet;web;világháló;böngésző;szörf;felfedezés;xfce;
Keywords[id]=internet;web;browser;selancar;jelajah;xfce;
Keywords[it]=internet;web;browser;surf;explore;xfce;
Keywords[ja]=インターネット;ウェブ;ブラウザ;サーフィン;探索;xfce;
Keywords[ka]=internet;web;browser;surf;explore;xfce;ინტერნეტი;ბრაუზერი;ვები;ბმული;
Keywords[kk]=internet;web;browser;surf;explore;xfce;интернет;веб;браузер;шолу;
Keywords[ko]=internet;인터넷;web;웹;browser;브라우저;탐색기;surf;서핑;explore;탐색;xfce;
Keywords[lo]=ອິນເຕີເນັດ;ເວັບ;ບຣາວເຊີ;xfce;
Keywords[lt]=internetas;saitynas;žiniatinklis;ziniatinklis;naršyklė;saityno;žiniatinklio;ziniatinklio;naršyti;narsyti;xfce;
Keywords[nb]=internett;internet;nettleser;browser;surfe;surfing;utforsker;xfce;
Keywords[nl]=internet;web;verkenner;verkennen;xfce;
Keywords[oc]=internet;web;navigador;navegador;surf;explorar;xfce;
Keywords[pl]=internet;sieć;przeglądarka;surfowanie;eksplorowanie;xfce;
Keywords[pt_BR]=internet;web;navegador;navegar;explorar;xfce;
Keywords[pt]=internet;web;navegador;surfar;explorador;xfce;
Keywords[ro]=internet;web; navigator;surf;explorare;xfce;
Keywords[ru]=интернет;веб;браузер;просмотр;обозрение;xfce;
Keywords[sk]=internet;web;browser;surf;explore;xfce;
Keywords[sq]=internet;web;shletues;shfletim;eksploroni;xfce;
Keywords[sr]=интернет;мрежа;прегледник;прегледач;сурвање;претрага;претраживач;иксфце;
Keywords[sv]=internet;webb;webbläsare;surfa;utforska;xfce; 
Keywords[th]=อินเทอร์เน็ต;เว็บ;เบราว์เซอร์;ท่อง;สำรวจ;xfce;
Keywords[tr]=internet;web;browser;surf;explore;xfce;
Keywords[ug]=internet;web;browser;surf;explore;xfce;ئىنتېرنېت؛تور؛توركۆرگۈ؛
Keywords[uk]=інтернет;веб;браузер;серфінг;досліджувати;xfce;
Keywords[vi]=internet;web;browser;surf;explore;xfce;
Keywords[zh_CN]=互联网;网页;浏览器;冲浪;探索;xfce;
Keywords[zh_TW]=internet;web;browser;surf;explore;xfce;
Keywords=internet;web;browser;surf;explore;xfce;
OnlyShowIn=XFCE;
X-XFCE-MimeType=x-scheme-handler/http;x-scheme-handler/https;
X-AppStream-Ignore=True
Name[am]=ዌብ መቃኛ
Name[ar]=متصفّح وِب
Name[ast]=Restolador web
Name[be]=Вэб-браўзер
Name[be@tarask]=Гартач сеціва
Name[bg]=Уеб браузър
Name[bn]=ওয়েব ব্রাউজার
Name[ca]=Navegador web
Name[cs]=Webový prohlížeč
Name[da]=Webbrowser
Name[de]=Internetnavigator
Name[el]=Περιηγητής διαδικτύου
Name[en_AU]=Web Browser
Name[en_CA]=Web Browser
Name[en_GB]=Web Browser
Name[es]=Navegador web
Name[et]=Veebibrauser
Name[eu]=Web nabigatzailea
Name[fi]=Verkkoselain
Name[fr]=Navigateur Web
Name[gl]=Navegador web
Name[he]=דפדפן רשת
Name[hr]=Web preglednik
Name[hu]=Webböngésző
Name[hy_AM]=Ցանցային զննարկիչ
Name[hye]=Ցանցային զննարկիչ
Name[id]=Peramban Web
Name[ie]=Navigator Web
Name[is]=Netvafri
Name[it]=Browser web
Name[ja]=ウェブブラウザー
Name[ka]=ვებ-ბრაუზერი
Name[kk]=Веб браузері
Name[ko]=웹 브라우저
Name[lo]=ເວັບບຣາວເຊີ
Name[lt]=Saityno naršyklė
Name[lv]=Tīmekļa pārlūks
Name[ms]=Pelayar Sesawang
Name[nb]=Nettleser
Name[nl]=Webbrowser
Name[nn]=Nettlesar
Name[oc]=Navigador Web
Name[pl]=Przeglądarka internetowa
Name[pt_BR]=Navegador web
Name[pt]=Navegador web
Name[ro]=Navigator web
Name[ru]=Веб-браузер
Name[sk]=Internetový prehliadač
Name[sl]=Spletni brskalnik
Name[sq]=Shfletues
Name[sr]=Прегледник мреже
Name[sv]=Webbläsare
Name[te]=జాల విహారకం
Name[th]=โปรแกรมท่องเว็บ
Name[tr]=İnternet Tarayıcısı
Name[tt]=Браузер
Name[ug]=توركۆرگۈ
Name[uk]=Переглядач Web
Name[ur_PK]=ویب براؤزر
Name[ur]=ویب براؤزر
Name[vi]=Trình duyệt
Name[zh_CN]=网络浏览器
Name[zh_HK]=瀏覽網頁
Name[zh_TW]=網路瀏覽器
Name=Web Browser
Comment[am]=ዌብ መቃኛ
Comment[ar]=تصفح الوِب
Comment[ast]=Restola pela rede
Comment[be]=Праглядзець у сеціве
Comment[be@tarask]=Праглядайце сеціва
Comment[bg]=Сърфиране в  мрежата
Comment[bn]=ওয়েব ব্রাউজ করুন
Comment[ca]=Navegueu per internet
Comment[cs]=Procházet web
Comment[da]=Gennemse webbet
Comment[de]=Das Internet durchsuchen
Comment[el]=Περιήγηση στον παγκόσμιο ιστό
Comment[en_AU]=Browse the web
Comment[en_CA]=Browse the web
Comment[en_GB]=Browse the web
Comment[es]=Navegar por la red
Comment[et]=Sirvi veebi
Comment[eu]=Nabigatu web-a
Comment[fi]=Selaa verkkosivuja
Comment[fr]=Naviguer sur le Web
Comment[gl]=Navegar pola web
Comment[he]=סייר ברשת
Comment[hr]=Pregledaj web
Comment[hu]=Webböngészés
Comment[hy_AM]=Որոնել ցանցում
Comment[hye]=Որոնել ցանցում
Comment[id]=Ramban web
Comment[ie]=Navigar li Web
Comment[is]=Flakka á vefnum
Comment[it]=Esplora la rete
Comment[ja]=ウェブを閲覧します
Comment[kab]=Snirem Web
Comment[ka]=ინტენეტში მუშაობა
Comment[kk]=Интернетті шолу
Comment[ko]=웹 탐색
Comment[lo]=ທ່ອງເວັບ
Comment[lt]=Naršyti internete
Comment[lv]=Pārlūkot Tīmekli
Comment[ms]=Layar sesawang
Comment[nb]=Surfe på nettet
Comment[nl]=Verken het web
Comment[nn]=Surf på nettet
Comment[oc]=Navigar sus internet
Comment[pl]=Przegląda zawartość sieci internetowej
Comment[pt_BR]=Navegar pela web
Comment[pt]=Navegar na web
Comment[ro]=Navigați în Internet
Comment[ru]=Обозревать веб-страницы
Comment[sk]=Prehliadať internet
Comment[sl]=Brskaj po spletu
Comment[sq]=Shfletoni në Web
Comment[sr]=Прегледајте мрежу
Comment[sv]=Surfa på webben
Comment[te]=జాలంలో విహరించండి
Comment[th]=ท่องดูเว็บ
Comment[tr]=Web'de gezin
Comment[tt]=Челтәрне карап чыгу
Comment[ug]=تور كۆرىدۇ
Comment[uk]=Мандруйте Інтернетом
Comment[vi]=Duyệt web
Comment[zh_CN]=浏览网络
Comment[zh_HK]=瀏覽網頁
Comment[zh_TW]=瀏覽網路
Comment=Browse the web
