[Desktop Entry]
Name[be]=Слайд-шоў
Name[bg]=Прожекция
Name[ca]=Seqüència d'imatges
Name[cs]=Promítání snímků
Name[da]=Diasshow
Name[de]=Diaschau
Name[el]=Slideshow
Name[en_AU]=Slideshow
Name[en_CA]=Slideshow
Name[en_GB]=Slideshow
Name[es]=Pase de diapositivas
Name[et]=Slaidiseanss
Name[eu]=Aurkezpena
Name[fi]=Diaesitys
Name[fr]=Diaporama
Name[gl]=Presentación
Name[he]=מצגת
Name[hr]=Klizni prikaz
Name[hu]=Diavetítés
Name[hy_AM]=Տեսասահիկ
Name[hye]=Տեսասահիկ
Name[id]=Tampil Salindia
Name[is]=Skyggnusýning
Name[it]=Presentazione
Name[ja]=スライドショー
Name[kab]=Tigri n tugna
Name[kk]=Слайдшоу
Name[ko]=슬라이드쇼
Name[lo]=ສະແດງສະໄລ້
Name[lt]=Skaidrių rodymas
Name[ms]=Paparan Slaid
Name[nb]=Lysbildefremvisning
Name[nl]=Diavertoning
Name[oc]=Diaporama
Name[pl]=Pokaz slajdów
Name[pt_BR]=Apresentação de slides
Name[pt]=Apresentação
Name[ro]=Prezentare
Name[ru]=Слайд-шоу
Name[sk]=Premietanie snímkov
Name[sl]=Diaprojekcija
Name[sq]=Si Diapozitiva
Name[sr]=Покретни приказ слика
Name[sv]=Bildspel
Name[th]=การแสดงสไลด์
Name[tr]=Slayt gösterisi
Name[ug]=تام تەسۋىرى
Name[uk]=Показ слайдів
Name[vi]=Trình chiếu
Name[zh_CN]=幻灯片
Name[zh_TW]=投影片秀
Name=Slideshow
Comment[be]=Паказваць слайд-шоў з каталога малюнкаў
Comment[bg]=Показване на слайд шоу от вашата папка със снимки
Comment[ca]=Mostra una presentació de diapositives de la carpeta d'imatges
Comment[cs]=Zobrazovat prezentaci ze složky Obrázky
Comment[da]=Vis et diasshow fra din Billeder-mappe
Comment[de]=Zeigt eine Diashow aus dem Bilderverzeichnis an
Comment[el]=Προβολή διαφανειών από το φάκελο Εικόνες
Comment[en_AU]=Display a slideshow from your Pictures folder
Comment[en_CA]=Display a slideshow from your Pictures folder
Comment[en_GB]=Display a slideshow from your Pictures folder
Comment[es]=Mostrar un pase de diapositivas a partir de la carpeta de imágenes
Comment[et]=Kuva slaide oma piltide kaustast
Comment[eu]=Diapositibak erakutsi zure Irudiak karpetatik
Comment[fi]=Näytä diaesitys Kuvat-kansiosta
Comment[fr]=Afficher un diaporama à partir de votre dossier d’images
Comment[gl]=Amosar unha presentación de diapositivas do seu cartafol fotos
Comment[he]=הראה מצגת מתוך תיקיית התמונות שלך
Comment[hu]=Diavetítés megjelenítése a Képek mappából
Comment[hy_AM]=Ցուցադրել տեսասահիկ պատկերների պանակից
Comment[hye]=Ցուցադրել տեսասահիկ պատկերների պանակից
Comment[id]=Tampilkan sebuah salindia dari folder Gambar Anda
Comment[is]=Sýna skyggnusýningu úr myndamöppunni þinni
Comment[it]=Visualizza una presentazione dalla propria cartelle delle immagini
Comment[ja]=画像フォルダーからスライドショーを表示する
Comment[kk]=Суреттер бумасынан слайдшоуды көрсету
Comment[ko]=사진 폴더의 그림을 슬라이드 쇼 형식으로 표시
Comment[lo]=ສະແດງສະໄລ້ຈາກໂຟນເດີຮູບພາບຂອງທ່ານ
Comment[lt]=Rodyti skaidrių rodymą iš jūsų Paveikslų aplanko
Comment[ms]=Papar papan slaid dalam folder Gambar anda
Comment[nb]=Viser en bildekarusell fra bildemappen din
Comment[nl]=Toont een diapresentatie vanuit uw afbeeldingenmap
Comment[oc]=Afichar un diaporama de vòstres dorsièrs de fòtos
Comment[pl]=Wyświetl pokaz slajdów z folderu Obrazy
Comment[pt_BR]=Exibe um slideshow da pasta Imagens
Comment[pt]=Criar uma apresentação da pasta Imagens
Comment[ro]=Afișează o prezentare din dosarul cu imagini/fotografii
Comment[ru]=Слайд-шоу из содержимого каталога Изображения
Comment[sk]=Zobraziť prezentáciu z Priečinka s obrázkami
Comment[sl]=Diaprojekcija slik iz mape Slike
Comment[sq]=Shfaq një varg diapozitivash prej dosjes tuaj Foto
Comment[sr]=Приказуј покретне слике из фасцикле Слике
Comment[sv]=Visa ett bildspel från din bildmapp
Comment[th]=เล่นสไลด์จากโฟลเดอร์รูปภาพของคุณ
Comment[tr]=Resimler dizininden slayt gösterisi görüntüle
Comment[ug]=رەسىم قىسقۇچىڭىزدىن تام تەسۋىر كۆرسىتىدۇ
Comment[uk]=Показує зображення з вашої теки Картинки
Comment[vi]=Hiển thị trình chiếu từ thư mục Ảnh
Comment[zh_CN]=从您的图片文件夹显示幻灯片
Comment[zh_TW]=從您的圖片資料夾中顯示幻燈片
Comment=Display a slideshow from your Pictures folder
Exec=/usr/libexec/xfce4-screensaver/slideshow
TryExec=/usr/libexec/xfce4-screensaver/slideshow
StartupNotify=false
Terminal=false
Type=Application
Categories=Screensaver;
OnlyShowIn=XFCE;
Hidden=true
