[Desktop Entry]
Version=1.0
Type=Application
Exec=xfce-open --launch AudioPlayer %u
Icon=org.xfce.audioplayer
NoDisplay=True
StartupNotify=true
Terminal=false
Categories=AudioVideo;Audio;X-XFCE;X-Xfce-Toplevel;
Keywords=Media;Player;Audio;Music;Playback;Xfce;
OnlyShowIn=XFCE;
X-XFCE-MimeType=application/mxf;application/ogg;application/xspf+xml;audio/3gpp;audio/ac3;audio/AMR;audio/AMR-WB;audio/basic;audio/flac;audio/midi;audio/mp2;audio/mp4;audio/mpeg;audio/mpegurl;audio/ogg;audio/prs.sid;audio/vnd.rn-realaudio;audio/x-aiff;audio/x-ape;audio/x-flac;audio/x-gsm;audio/x-it;audio/x-m4a;audio/x-matroska;audio/x-mod;audio/x-mp3;audio/x-mpeg;audio/x-mpegurl;audio/x-ms-asf;audio/x-ms-asx;audio/x-ms-wax;audio/x-ms-wma;audio/x-musepack;audio/x-pn-aiff;audio/x-pn-au;audio/x-pn-realaudio;audio/x-pn-realaudio-plugin;audio/x-pn-wav;audio/x-pn-windows-acm;audio/x-realaudio;audio/x-real-audio;audio/x-s3m;audio/x-sbc;audio/x-scpls;audio/x-speex;audio/x-stm;audio/x-tta;audio/x-wav;audio/x-wavpack;audio/x-vorbis;audio/x-vorbis+ogg;audio/x-xm;
X-AppStream-Ignore=True
Name[bg]=Аудио плеър
Name[ca]=Reproductor d'àudio
Name[cs]=Přehrávač zvuků
Name[da]=Lydafspiller
Name[de]=Audioplayer
Name[el]=Αναπαραγωγή ήχου
Name[en_GB]=Audio Player
Name[es]=Reproductor de audio
Name[et]=Heliesitaja
Name[fr]=Lecteur audio
Name[it]=Riproduttore Musicale
Name[ja]=オーディオプレーヤー
Name[kk]=Аудио плеері
Name[lo]=ໂປຣແກຣມຫຼິ້ນສຽງ
Name[lt]=Garso įrašų grotuvas
Name[nl]=Muziekspeler
Name[oc]=Lector àudio
Name[pl]=Odtwarzacz audio
Name[pt_BR]=Reprodutor de áudio
Name[pt]=Reprodutor de áudio
Name[ro]=Programul de redare audio
Name[ru]=Аудиопроигрыватель
Name[sl]=Predvajalnik zvoka
Name[sq]=Lojtës Audiosh
Name[sr]=Звучни извођач
Name[sv]=Ljudspelare
Name[th]=โปรแกรมเล่นเสียง
Name[tr]=Ses Çalıcı
Name[ug]=ئۈن قويغۇچ
Name[uk]=Аудіоплеєр
Name[vi]=Trình phát âm thanh
Name[zh_CN]=音频播放器
Name[zh_TW]=音訊播放程式
Name=Audio Player
Comment=Play audio files
