[Xfce Panel]
Type=X-XFCE-PanelPlugin
Encoding=UTF-8
Name[ar]=قاموس
Name[ast]=Diccionariu
Name[be]=Слоўнік
Name[bg]=Речник
Name[ca]=Diccionari
Name[cs]=Slovník
Name[da]=Ordbog
Name[de]=Wörterbuch
Name[el]=Λεξικό
Name[en_AU]=Dictionary
Name[en_GB]=Dictionary
Name[es]=Diccionario
Name[et]=Sõnastik
Name[eu]=Hiztegia
Name[fa_IR]=واژه‌نامه
Name[fi]=Sanakirja
Name[fr]=Dictionnaire
Name[gl]=Dicionario
Name[he]=מילון
Name[hr]=Rječnik
Name[hu]=Szótár
Name[hy_AM]=Բառարան
Name[hye]=Բառարան
Name[id]=Kamus
Name[is]=Orðasafn
Name[it]=Dizionario
Name[ja]=辞書
Name[kk]=Сөздік
Name[ko]=사전
Name[lo]=ວັດຈະນານຸກົມ
Name[lt]=Žodynas
Name[lv]=Vārdnīca
Name[ms]=Kamus
Name[nb]=Ordliste
Name[nl]=Woordenboek
Name[oc]=Diccionari
Name[pl]=Słownik
Name[pt_BR]=Dicionário
Name[pt]=Dicionário
Name[ro]=Dicționar
Name[ru]=Словарь
Name[sk]=Slovník
Name[sl]=Slovar
Name[sq]=Fjalor
Name[sr]=Речник
Name[sv]=Ordbok
Name[th]=พจนานุกรม
Name[tr]=Sözlük
Name[ug]=لۇغەت
Name[uk]=Словник
Name[ur_PK]=لغت
Name[ur]=لغت
Name[vi]=Từ điển
Name[zh_CN]=词典
Name[zh_TW]=字典
Name=Dictionary
Comment[ar]=إضافة للمساعد في الاستعلام بقواميس مختلفة.
Comment[ast]=Un complementu pa consultar diferentes diccionarios.
Comment[be]=Убудова пошуку ў разнастайных слоўніках.
Comment[bg]=Плъгин за намиране на различни речници.
Comment[ca]=Un connector per fer consultes a diversos diccionaris.
Comment[cs]=Zásuvný modul pro dotazování různých slovníků.
Comment[da]=Et plugin, til at slå op i forskellige ordbøger.
Comment[de]=Eine Erweiterung zum Abfragen verschiedener Wörterbücher.
Comment[el]=Ένα πρόσθετο για να εκτελείτε ερωτήματα σε διάφορα λεξικά
Comment[en_AU]=A plugin to query different dictionaries.
Comment[en_GB]=A plugin to query different dictionaries.
Comment[es]=Un complemento para consultar diferentes diccionarios.
Comment[et]=Pisirakendus päringuteks erinevatest sõnastikest
Comment[eu]=Hiztegi ezberdinak galdekatzeko plugina.
Comment[fi]=Käytä verkkosanakirjoja.
Comment[fr]=Un greffon pour consulter différents dictionnaires.
Comment[gl]=Un engadido para consultar diferentes dicionarios.
Comment[he]=תוסף לתשאול מילונים שונים.
Comment[hr]=Priključak za slanje upita različitim rječnicima.
Comment[hu]=Különböző szótárak lekérdezése
Comment[hy_AM]=Տարբեր բառարաններ հայցելու ներդրաւն
Comment[hye]=Տարբեր բառարաններ հայցելու ներդրաւն
Comment[id]=Plugin untuk kueri berbagai kamus.
Comment[is]=Hjálparforrit (viðbót) til að leita í mismunandi orðasöfnum.
Comment[it]=Un componente aggiuntivo per interrogare diversi dizionari.
Comment[ja]=いろいろな辞書を照会するプラグインです。
Comment[kk]=Бірнеше сөздіктен сұрау үшін плагині.
Comment[ko]=제각기 다른 사전에 요청하는 플러그인입니다.
Comment[lo]=ປລັກອິນເພື່ອສອບຖາມວັດຈະນານຸກົມຕ່າງໆ.
Comment[lt]=Įskiepis skirtas užklausti skirtingus žodynus.
Comment[lv]=Spraudnis, lai vaicātu dažādām vārdnīcām.
Comment[ms]=Sebuah pemalam yang menanya pelbagai kamus.
Comment[nb]=Ordliste for hurtig tilgang til forskjellige ordlister.
Comment[nl]=Een invoegsel om verschillende woordenboeken te raadplegen.
Comment[oc]=Un empeuton per consultar diferents diccionaris.
Comment[pl]=Umożliwia wyszukiwanie wyrażeń w różnych słownikach
Comment[pt_BR]=Um plugin para consultar dicionários diferentes.
Comment[pt]=Um "plugin" para consultar diversos dicionários.
Comment[ro]=Modul pentru interogarea diferitelor dicționare.
Comment[ru]=Модуль для поиска в различных словарях.
Comment[sk]=Zásuvný modul na hľadanie v rôznych slovníkoch.
Comment[sl]=Vtičnik za poizvedbe po različnih slovarjih.
Comment[sq]=Një shtojcë për të kërkuar në fjalorë të ndryshëm.
Comment[sr]=Прикључак за упит различитим речницима.
Comment[sv]=En insticksmodul för att fråga olika ordböcker.
Comment[th]=ปลั๊กอินสำหรับค้นพจนานุกรมต่างๆ
Comment[tr]=Türlü sözlükleri sorgulamak için eklenti.
Comment[ug]=ھەر خىل لۇغەتلەردىن ئىزدەيدىغان قىستۇرما.
Comment[uk]=Додаток для пошуку у різних словниках.
Comment[ur_PK]=مختلف لغتوں میں تلاش کے لیے پلگ ان
Comment[ur]=مختلف لغتوں میں تلاش کے لیے پلگ ان
Comment[vi]=Phần mở rộng để tra cứu các từ điển khác nhau.
Comment[zh_CN]=查询不同词典的插件。
Comment[zh_TW]=可查詢不同字典的插件。
Comment=A plugin to query different dictionaries.
Icon=org.xfce.Dictionary
X-XFCE-Module=xfce4dict
X-XFCE-Internal=false
X-XFCE-API=2.0
