[Desktop Entry]
Type=Application
Version=1.0
Name[ar]=قاموس
Name[ast]=Diccionariu
Name[be]=Слоўнік
Name[bg]=Речник
Name[ca]=Diccionari
Name[cs]=Slovník
Name[da]=Ordbog
Name[de]=Wörterbuch
Name[el]=Λεξικό
Name[en_AU]=Dictionary
Name[en_GB]=Dictionary
Name[es]=Diccionario
Name[et]=Sõnastik
Name[eu]=Hiztegia
Name[fa_IR]=واژه‌نامه
Name[fi]=Sanakirja
Name[fr]=Dictionnaire
Name[gl]=Dicionario
Name[he]=מילון
Name[hr]=Rječnik
Name[hu]=Szótár
Name[hy_AM]=Բառարան
Name[hye]=Բառարան
Name[id]=Kamus
Name[is]=Orðasafn
Name[it]=Dizionario
Name[ja]=辞書
Name[kk]=Сөздік
Name[ko]=사전
Name[lo]=ວັດຈະນານຸກົມ
Name[lt]=Žodynas
Name[lv]=Vārdnīca
Name[ms]=Kamus
Name[nb]=Ordliste
Name[nl]=Woordenboek
Name[oc]=Diccionari
Name[pl]=Słownik
Name[pt_BR]=Dicionário
Name[pt]=Dicionário
Name[ro]=Dicționar
Name[ru]=Словарь
Name[sk]=Slovník
Name[sl]=Slovar
Name[sq]=Fjalor
Name[sr]=Речник
Name[sv]=Ordbok
Name[th]=พจนานุกรม
Name[tr]=Sözlük
Name[ug]=لۇغەت
Name[uk]=Словник
Name[ur_PK]=لغت
Name[ur]=لغت
Name[vi]=Từ điển
Name[zh_CN]=词典
Name[zh_TW]=字典
Name=Dictionary
GenericName[ar]=عميل القاموس
GenericName[ast]=Veceru de diccionariu
GenericName[be]=Кліент слоўнікаў
GenericName[bg]=Речник
GenericName[ca]=Client de diccionari
GenericName[cs]=Klient slovníku
GenericName[da]=Ordbogsklient
GenericName[de]=Wörterbuchprogramm
GenericName[el]=Πελάτης λεξικού
GenericName[en_AU]=Dictionary Client
GenericName[en_GB]=Dictionary Client
GenericName[es]=Cliente de diccionario
GenericName[et]=Sõnastikeklient
GenericName[eu]=Hiztegi bezeroa
GenericName[fa_IR]=کارخواه واژه‌نامه
GenericName[fi]=Sanakirjasovellus
GenericName[fr]=Client dictionnaire
GenericName[gl]=Cliente de dicionario
GenericName[he]=לקוח מילון
GenericName[hr]=Klijent rječnika
GenericName[hu]=Szótárkliens
GenericName[hy_AM]=Բառարանի հաճախորդ
GenericName[hye]=Բառարանի հաճախորդ
GenericName[id]=Klien Kamus
GenericName[is]=Orðabókarbiðlari
GenericName[it]=Client dizionario
GenericName[ja]=辞書クライアント
GenericName[kk]=Сөздіктер клиенті
GenericName[ko]=사전 클라이언트
GenericName[lo]=ລູກຂ່າຍວັດຈະນານຸກົມ
GenericName[lt]=Žodyno klientas
GenericName[lv]=Vārdnīcu klients
GenericName[ms]=Klien Kamus
GenericName[nb]=Ordlisteklient
GenericName[nl]=Woordenboek-cliënt
GenericName[oc]=Client diccionari
GenericName[pl]=Klient słownika
GenericName[pt_BR]=Dicionário
GenericName[pt]=Cliente de Dicionário
GenericName[ro]=Program client de dicționar
GenericName[ru]=Словарный клиент
GenericName[sk]=Klient slovníka
GenericName[sl]=Odjemalec slovarja
GenericName[sq]=Klient Fjalori
GenericName[sr]=Речник
GenericName[sv]=Ordboksklient
GenericName[th]=ลูกข่ายพจนานุกรม
GenericName[tr]=Sözlük İstemcisi
GenericName[ug]=لۇغەت خېرىدارى
GenericName[uk]=Клієнт словника
GenericName[ur_PK]=لغت کلائنٹ
GenericName[ur]=لغت کلائنٹ
GenericName[vi]=Ứng dụng Từ điển
GenericName[zh_CN]=词典客户端
GenericName[zh_TW]=字典客戶端
GenericName=Dictionary Client
Comment[be]=Кліент доступу да розных слоўнікаў
Comment[bg]=Клиентска програма за заявки към различни речници
Comment[ca]=Un programa client per fer consultes a diversos diccionaris
Comment[cs]=Klientský program pro získávání dat z různých slovníků
Comment[da]=Et klientprogram til at slå op i forskellige ordbøger
Comment[de]=Ein Programm zum Abfragen verschiedener Wörterbücher
Comment[en_GB]=A client program to query different dictionaries
Comment[es]=Un programa cliente para consultar diferentes diccionarios
Comment[et]=Klientrakendus erinevatest sõnastikest päringute tegemiseks
Comment[eu]=Hiztegi ezberdinak galdekatzeko bezero programa bat
Comment[fr]=Un client pour interroger différents dictionnaires
Comment[gl]=Un programa cliente para consultar diferentes dicionarios
Comment[he]=תוכנת לקוח לביצוע שאילתות של מילונים שונים
Comment[hr]=Klijent za upite raznim rječnicima
Comment[hu]=Kliensprogram különböző szótárak lekérdezéséhez.
Comment[id]=Sebuah program klien untuk kueri berbagai kamus
Comment[it]=Un programma che permette di consultare diversi dizionari
Comment[ja]=さまざまな辞書を照会するためのクライアントプログラム
Comment[kk]=Әртүрлі сөздіктерден іздеу үшін клиент бағдарламасы
Comment[ko]=제각기 다른 사전에 요청하는 클라이언트 프로그램
Comment[lo]=ໂປຣແກຣມລູກຂ່າຍເພື່ອສອບຖາມວັດຈະນານຸກົມຕ່າງໆ
Comment[lt]=Kliento programa įvairių žodynų užklausimui
Comment[ms]=Sebuah program klien yang menanya pelbagai jenis kamus
Comment[nb]=Et klientprogram for å søke i forskjellige ordlister
Comment[nl]=Een cliëntprogramma om verschillende woordenboeken te raadplegen
Comment[oc]=Un programa client per interrogar diferents diccionaris
Comment[pl]=Umożliwia wyszukiwanie wyrażeń w różnych słownikach
Comment[pt_BR]=Um programa para consultar diferentes dicionários
Comment[pt]=Um programa cliente para pesquisar vários dicionários
Comment[ro]=Un program client pentru consultarea diferitelor dicționare
Comment[ru]=Клиентская программа для запроса различных словарей
Comment[sl]=Odjemalni program za poizvedovanje po različnih slovarjih
Comment[sq]=Një program klient për kërkim në fjalorë të ndryshëm
Comment[sr]=Програм за упит различитим речницима
Comment[sv]=Ett klientprogram för att söka i olika ordböcker
Comment[th]=โปรแกรมไคลเอนต์สำหรับค้นพจนานุกรมต่างๆ
Comment[tr]=Türlü sözlükleri sorgulamayan istemci uygulama
Comment[ug]=ھەر خىل لۇغەتلەرنى سۈرۈشتۈرىدىغان خېرىدار پىروگراممىسى
Comment[uk]=Клієнтська програма для пошуку у різних словниках
Comment[vi]=Chương trình tra cứu các từ điển khác nhau
Comment[zh_CN]=查询不同词典的客户端程序
Comment[zh_TW]=用於查詢不同字典的客戶端程式
Comment=A client program to query different dictionaries
Icon=org.xfce.Dictionary
Exec=xfce4-dict
Terminal=false
StartupNotify=true
Categories=Office;TextTools;Dictionary;GTK;
