[Desktop Entry]
Version=1.0
Type=Application
Exec=xfce-open --launch TerminalEmulator
Icon=org.xfce.terminalemulator
StartupNotify=true
Terminal=false
Categories=Utility;X-XFCE;X-Xfce-Toplevel;
Keywords[bg]=терминал;команден ред;обвивка;конзола;xfce;
Keywords[ca]=terminal;línia d'ordres;shell;consola;xfce;
Keywords[cs]=terminál;přikázový řádek;shell;konzole;xfce;
Keywords[da]=terminal;kommandolinje;skal;konsol;xfce;
Keywords[de]=Terminal;Kommandozeile;Shell;Konsole;xfce;
Keywords[el]=τερματικό;γραμμή εντολών;κέλυφος;κονσόλα;xfce;
Keywords[en_CA]=terminal;command line;shell;console;xfce;
Keywords[en_GB]=terminal;command line;shell;console;xfce;
Keywords[es]=terminal;linea de ordenes;shell;consola;xfce;
Keywords[et]=terminal;käsurida;kest;kestakäsk;käsud;xfce;
Keywords[eu]=terminala;komando lerroa;shell;konsola;xfce;
Keywords[fi]=terminal;command line;shell;console;xfce;pääte;komentorivi;konsoli;
Keywords[fr]=terminal;command line;shell;console;xfce;ligne de commande;
Keywords[gl]=terminal;command line;shell;console;xfce;consola;ordes;
Keywords[he]=terminal;command line;shell;console;xfce;
Keywords[hu]=terminál;parancssor;shell;héj;konzol;xfce;
Keywords[id]=terminal;baris perintah;shell;konsol;xfce;
Keywords[it]=terminal;command line;shell;console;xfce;
Keywords[ja]=ターミナル;コマンドライン;シェル;コンソール;xfce;
Keywords[ka]=terminal;command line;shell;console;xfce;ტერმინალი;ბრძანებისსტრიქონი;
Keywords[kk]=terminal;command line;shell;console;xfce;терминал;командалық жол;қоршам;консоль;
Keywords[ko]=terminal;터미널;터미날;command line;명령줄;명령행;shell;쉘;셸;console;콘솔;xfce;
Keywords[lo]=terminal;ຄຳສັ່ງ;shell;console;xfce;
Keywords[lt]=terminalas;komanda;komandų eilutė;komandu eilute;apvalkalas;pultas;konsolė;konsole;xfce;
Keywords[nb]=terminal;kommandolinje;skall;konsoll;xfce;
Keywords[nl]=terminal;opdrachtregel;terminalvenster;xfce;
Keywords[oc]=terminal;comanda;linha;shell;consòla;xfce;
Keywords[pl]=terminal;wiersz poleceń;powłoka;konsola;xfce;
Keywords[pt_BR]=terminal;linha de comando;shell;console;xfce;
Keywords[pt]=terminal;linha de comandos;shell;consola;xfce;
Keywords[ro]=terminal;linie de comandă;shell;consolă;xfce;
Keywords[ru]=терминал;командная строка;оболочка;консоль;xfce;
Keywords[sk]=terminal;command line;shell;console;xfce;
Keywords[sq]=terminal;rresht urdhrash;shell;konsolë;xfce;
Keywords[sr]=терминал;конзола;наредбена линија;командна линија;иксфце;
Keywords[sv]=terminal;kommandorad;skal;konsol;xfce;
Keywords[th]=เทอร์มินัล;บรรทัดคำสั่ง;เชลล์;คอนโซล;xfce;
Keywords[tr]=terminal;command line;shell;console;xfce;
Keywords[ug]=terminal;command line;shell;console;xfce;تېرمىنال؛بۇيرۇق قۇرى؛تىزگىن سۇپىسى؛
Keywords[uk]=термінал;командний рядок;оболонка;консоль;xfce;
Keywords[vi]=terminal;command line;shell;console;xfce;
Keywords[zh_CN]=终端;命令行;shell;控制台;xfce;
Keywords[zh_TW]=terminal;command line;shell;console;xfce;
Keywords=terminal;command line;shell;console;xfce;
OnlyShowIn=XFCE;
X-AppStream-Ignore=True
Name[am]=ተርሚናል 
Name[ar]=محاكي الطرفية
Name[ast]=Emulador de la terminal
Name[be]=Эмулятар тэрмінала
Name[be@tarask]=Эмулятар тэрмінала
Name[bg]=Терминален Емулатор
Name[bn]=টার্মিনাল ইম্যুলেটর
Name[ca]=Emulador de terminal
Name[cs]=Emulátor terminálu
Name[da]=Terminalemulator
Name[de]=Terminal
Name[el]=Εξομοιωτής τερματικού
Name[en_AU]=Terminal Emulator
Name[en_CA]=Terminal Emulator
Name[en_GB]=Terminal Emulator
Name[es]=Emulador de terminal
Name[et]=Terminal
Name[eu]=Terminal emuladorea
Name[fi]=Pääteohjelma
Name[fr]=Émulateur de terminal
Name[gl]=Emulador de terminal
Name[he]=מדמה מסוף
Name[hr]=Emulator terminala
Name[hu]=Terminálemulátor
Name[hy_AM]=Վահանակ
Name[hye]=Վահանակ
Name[id]=Emulator Terminal
Name[ie]=Emulator de Terminal
Name[is]=Skjáhermir
Name[it]=Emulatore di terminale
Name[ja]=ターミナルエミュレーター
Name[ka]=ტერმინალის ემულატორი
Name[kk]=Терминал эмуляторы
Name[ko]=터미널 에뮬레이터
Name[lo]=Terminal Emulator
Name[lt]=Terminalo emuliatorius
Name[lv]=Termināla emulators
Name[ms]=Emulator Terminal
Name[nb]=Terminalemulator
Name[nl]=Terminalvenster
Name[nn]=Terminalprogram
Name[oc]=Emulator de Terminal
Name[pl]=Emulator terminala
Name[pt_BR]=Emulador de terminal
Name[pt]=Emulador de terminal
Name[ro]=Emulator de terminal
Name[ru]=Эмулятор терминала
Name[sk]=Emulátor terminálu
Name[sl]=Terminalski emulator
Name[sq]=Emulues Terminali
Name[sr]=Опонашач терминала
Name[sv]=Terminalemulator
Name[te]=టెర్మినల్ ఎమ్యులేటర్
Name[th]=โปรแกรมจำลองเทอร์มินัล
Name[tr]=Uçbirim Öykünücüsü
Name[tt]=Терминал
Name[ug]=تېرمىنال تەقلىدلەشتۈرگۈچ
Name[uk]=Емулятор терміналу
Name[ur_PK]=ٹرمنل ایمولیٹر
Name[ur]=ٹرمنل ایمولیٹر
Name[vi]=Trình giả lập thiết bị đầu cuối
Name[zh_CN]=终端模拟器
Name[zh_HK]=終端機模擬程式
Name[zh_TW]=終端機模擬程式
Name=Terminal Emulator
Comment[am]=የ ትእዛዝ መስመር ይጠቀሙ:
Comment[ar]=إستعمل سطر الأوامر
Comment[ast]=Usa la llinia comandos
Comment[be]=Выкарыстоўваць загадны радок
Comment[be@tarask]=Выкарыстоўваць загадны радок
Comment[bg]=Използване на команден ред
Comment[bn]=কমান্ড লাইন ব্যবহার করুন
Comment[ca]=Utilitzeu la línia d'ordres
Comment[cs]=Použít příkazový řádek
Comment[da]=Brug kommandolinjen
Comment[de]=Befehlszeile verwenden
Comment[el]=Χρησιμοποιείστε την γραμμή εντολών
Comment[en_AU]=Use the command line
Comment[en_CA]=Use the command line
Comment[en_GB]=Use the command line
Comment[es]=Usar la línea de órdenes
Comment[et]=Kasuta käsurida
Comment[eu]=Erabili komando lerroa
Comment[fi]=Käytä komentoriviä
Comment[fr]=Utiliser la ligne de commande
Comment[gl]=Usar a liña de ordes
Comment[he]=השתמש בשורת הפקודה
Comment[hr]=Koristi naredbeni redak
Comment[hu]=Parancssor használata
Comment[hy_AM]=Գործածել հրամանատողը
Comment[hye]=Գործածել հրամանատողը
Comment[id]=Gunakan baris perintah
Comment[ie]=Usar li linea de comandes
Comment[is]=Nota skipanalínuna
Comment[it]=Usa la linea di comando
Comment[ja]=コマンドラインを使用します
Comment[kab]=Seqdec izirig n unezḍay
Comment[ka]=ბრძანების სტრიქონის გამოყენება
Comment[kk]=Командалық жолды қолдану
Comment[ko]=명령줄 사용
Comment[lo]=ໃຊ້ບັນທັດຄຳສັ່ງ (Command line)
Comment[lt]=Naudoti komandų eilutę
Comment[lv]=Izmantot komandrindu
Comment[ms]=Guna perintah suai
Comment[nb]=Bruk kommandlinjen
Comment[nl]=Gebruik de opdrachtregel
Comment[nn]=Bruk kommandlinja
Comment[oc]=Utilizar la linha de comanda
Comment[pl]=Wykonuje komendy w wierszu poleceń
Comment[pt_BR]=Usar a linha de comando
Comment[pt]=Utilizar a linha de comandos
Comment[ro]=Utilizați linia de comandă
Comment[ru]=Использовать командную строку
Comment[sk]=Použiť príkazový riadok
Comment[sl]=Uporabite ukazno vrstico
Comment[sq]=Përdorni rreshtin e urdhrave
Comment[sr]=Користите линију наредби
Comment[sv]=Använd kommandoraden
Comment[te]=ఆదేశపంక్తిని ఉపయోగించండి
Comment[th]=ใช้บรรทัดคำสั่ง
Comment[tr]=Komut satırını kullan
Comment[tt]=Команда юлын кулланырга
Comment[ug]=بۇيرۇق قۇرىنى ئىشلىتىدۇ
Comment[uk]=Використовуєте командну стрічку
Comment[vi]=Sử dụng dòng lệnh
Comment[zh_CN]=使用命令行
Comment[zh_HK]=使用指令列
Comment[zh_TW]=使用指令列
Comment=Use the command line
