[Desktop Entry]
Name[be]=Вобласці поп-арта
Name[bg]=Поп-арт квадрати
Name[ca]=Quadrats pop-art
Name[cs]=Umělecké čtverce
Name[da]=Firkantet popart
Name[de]=Pop Art Quadrate
Name[el]=Pop art squares
Name[en_AU]=Pop art squares
Name[en_CA]=Pop art squares
Name[en_GB]=Pop art squares
Name[es]=Cuadros de arte pop
Name[et]=Moodsa kunsti ruudud
Name[eu]=Pop art laukiak
Name[fi]=Pop-taide neliöt
Name[fr]=Carrés pop art
Name[gl]=Cadros de arte pop
Name[he]=ריבועי פופ ארט
Name[hu]=Pop-art négyzetek
Name[hy_AM]=Փոփ արտ քառակուսիներ
Name[hye]=Փոփ արտ քառակուսիներ
Name[id]=Persegi seni pop
Name[is]=Popplistar-ferningar
Name[it]=Quadrati in stile pop art
Name[ja]=ポップアートスクウェア
Name[kk]=Поп-арт шаршылары
Name[ko]=팝 아트 사각액자
Name[lo]=ຮູບຈະຕຸລັດສິລະປະປ໊ອບອາດ
Name[lt]=Kvadratų spalvų sukeitimas
Name[ms]=Petak seni pop
Name[nb]=Popkunst-firkanter
Name[nl]=Pop art-vierkanten
Name[oc]=Carrats « Pop Art »
Name[pl]=Kwadraty pop-art
Name[pt_BR]=Quadrado de arte pop
Name[pt]=Quadrados de arte pop
Name[ro]=Pătrate pop-art
Name[ru]=Цветные квадраты
Name[sk]=Pop-art štvroce
Name[sl]=Pop-art kvadrati
Name[sq]=Katrorë arti pop
Name[sr]=Правоугаоници популарне каобајаги уметности
Name[sv]=Popkonstrutor
Name[th]=แผงไฟศิลปะป๊อป
Name[tr]=Sanatsal kareler
Name[ug]=مودا بەدىئىي چاسا
Name[uk]=Поп-арт-квадрати
Name[vi]=Ô vuông Pop art
Name[zh_CN]=流行艺术方块
Name[zh_TW]=流行藝術方塊
Name=Pop art squares
Comment[be]=Поп-арт сетка колераў, якія пульсуюць.
Comment[bg]=Поп-арт мрежа от пулсиращи цветове.
Comment[ca]=Una xarxa de colors de pulsació d'estil pop-art.
Comment[cs]=Umělecká mřížka pulzujících barev.
Comment[da]=Et popartsagtigt gitter med pulserende farver.
Comment[de]=Ein Pop-Art-ähnliches Gitter aus pulsierenden Farben.
Comment[el]=Πλέγμα παλλόμενων χρωμάτων
Comment[en_AU]=A pop-art-ish grid of pulsing colours.
Comment[en_CA]=A pop-art-ish grid of pulsing colours.
Comment[en_GB]=A pop-art-ish grid of pulsing colours.
Comment[es]=Una cuadrícula estilo Pop-Art de colores pulsantes.
Comment[et]=Moodsast kunstist inspireeritud vilkuvad ruudud.
Comment[eu]=Kolore sutsuz osatutako pop-art estiloko sareta.
Comment[fr]=Une grille pop-art de couleurs vibrantes.
Comment[gl]=Unha grade de cores de pulsación de estilo arte pop.
Comment[he]=רשת פופ ארטית של צבעים פועמים.
Comment[hu]=Egy pop-art szerű rács, pulzáló színekkel.
Comment[hy_AM]=Ցայտող գոյների փոփ արտական ցանց։
Comment[hye]=Ցայտող գոյների փոփ արտական ցանց։
Comment[id]=Sebuah kisi-kisi seni pop dalam warna yang menggetarkan.
Comment[is]=Net af popplistarlegum flöktandi litum
Comment[it]=Una griglia in stile pop art con colori pulsanti.
Comment[ja]=パルス色のポップアート風のグリッド。
Comment[kk]=Соғып тұрған түстердің поп-арт стиліндегі торы.
Comment[ko]=팝 아트 풍의 주기적으로 바뀌는 색상의 격자 화면.
Comment[lo]=ຕາຕະລາງສີສັນທີ່ເຕັ້ນເປັນຈັງຫວະແບບສິລະປະປ໊ອບອາດ.
Comment[lt]=Mirksinčių spalvų tinklelio spalvų sukeitimas.
Comment[ms]=Grid seni pop yang warna berdenyut-denyut bertukar.
Comment[nb]=Et popkunst-lignende rutenett med pulserende farger.
Comment[nl]=Een pop art-achtig rooster van pulserende kleuren.
Comment[oc]=Dessenha una grasilha de colors pulsadas que se sembla a de Pop art.
Comment[pl]=Pop-artowa siatka pulsujących kolorów.
Comment[pt_BR]=Uma grade estilo arte pop de cores pulsantes.
Comment[pt]=Uma grelha pop-art de cores pulsantes.
Comment[ro]=O grilă pop-art de culori pulsatorii.
Comment[ru]=Сетка из ярких мерцающих квадратов.
Comment[sl]=Mreža pulzirajočih barv v pop-art stilu.
Comment[sq]=Një rrjetë në stil arti pop ngjyrash pulsuese.
Comment[sr]=Решетка бијуће боје популарне уметности.
Comment[sv]=Ett popkonst-igt rutnät av pulserande färger.
Comment[th]=แผงไฟกะพริบแนวศิลปะป๊อป
Comment[tr]=Renk basıncı pop-art-ish ızgarası.
Comment[ug]=سەكرەيدىغان رەڭدىن تەشكىل تاپقان مودا بەدىئىي كاتەكچە.
Comment[uk]=Поп-артова решітка з пульсуючими кольорами.
Comment[vi]=Lưới ô vuông màu sắc nhấp nháy kiểu pop-art.
Comment[zh_CN]=脉冲色彩的流行艺术网格。
Comment[zh_TW]=脈衝色彩的流行藝術網格。
Comment=A pop-art-ish grid of pulsing colors.
Exec=/usr/libexec/xfce4-screensaver/popsquares
TryExec=/usr/libexec/xfce4-screensaver/popsquares
StartupNotify=false
Terminal=false
Type=Application
Categories=Screensaver;
OnlyShowIn=XFCE;
Hidden=true
