[Desktop Entry]
Version=1.0
Type=Application
Exec=xfce-open --launch FileManager %u
Icon=org.xfce.filemanager
StartupNotify=true
Terminal=false
Categories=Utility;X-XFCE;X-Xfce-Toplevel;
Keywords[bg]=файл;мениджър;търсачка;браузър;файлова система;речник;папка;xfce;
Keywords[ca]=fitxer;administrador;explorador;explora;sistema de fitxers;directori;carpeta;xfce;
Keywords[cs]=soubor;správce;průzkumník;procházet;systém souborů;adresář;složka;xfce;
Keywords[da]=filhåndtering;udforsk;gennemse;filsystem;mappe;xfce;
Keywords[de]=Datei;Manager;Explorer;Durchsuchen;Dateisystem;Verzeichnis;Ordner;xfce;
Keywords[el]=αρχείο;διαχειριστής;περιηγητής;περιήγηση;σύστημα αρχείων;κατάλογος;φάκελος;xfce;
Keywords[en_CA]=file;manager;explorer;browse;filesystem;directory;folder;xfce;
Keywords[en_GB]=file;manager;explorer;browse;filesystem;directory;folder;xfce;
Keywords[es]=archivo;gestor;explorador;navegar;sistema de archivos;directorio;carpeta;xfce;
Keywords[et]=fail;failid;kaust;kaustad;kataloog;kataloogid;süsteem;sirvi;sirvimine;failihaldur;haldur;xfce;
Keywords[eu]=fitxategia;kudeatzailea;esploratu;arakatzailea;fitxategi-sistema;direktorioa;karpeta;xfce;
Keywords[fr]=file;manager;explorer;browse;filesystem;directory;folder;xfce;fichier;gestionnaire;exploreur;naviguer;fichiers système;répertoire;dossier;
Keywords[gl]=file;manager;explorer;browse;filesystem;directory;folder;xfce;ficheiro;xestor;navegador;explorador; sistema;cartafol;directorio;
Keywords[he]=file;manager;explorer;browse;filesystem;directory;folder;xfce;
Keywords[hu]=fájl;kezelő;menedzser;felfedező;intéző;tallózás;fájlrendszer;könyvtár;mappa;xfce;
Keywords[id]=file;pengelola;penjelajah;jelajah;sistem berkas;direktori;folder;xfce;
Keywords[it]=file;manager;explorer;browse;filesystem;directory;folder;xfce;
Keywords[ja]=ファイル;マネージャー;エクスプローラー;ブラウズ;ファイルシステム;ディレクトリー;フォルダー;xfce;
Keywords[ka]=file;manager;explorer;browse;filesystem;directory;folder;xfce;ფაილები;მართვა;დათვალიერება;საქაღალდე;
Keywords[kk]=file;manager;explorer;browse;filesystem;directory;folder;xfce;файл;басқарушы;шолу;файлдық жүйе;бума;
Keywords[ko]=file;파일;manager;관리자;explorer;탐색기;browse;탐색;filesystem;파일시스템;directory;디렉터리;folder;폴더;xfce;
Keywords[lo]=ໄຟລ໌;ຕົວຈັດການ;ສຳຫຼວດ;ເບິ່ງ;ລະບົບໄຟລ໌;ໄດເຣັກທໍຣີ;ໂຟນເດີ;xfce;
Keywords[lt]=failų;failu;tvarkytuvė;tvarkytuve;naršyklė;narsykle;naršyti;narsyti;failų sistema;failu sistema;katalogas;katalogai;aplankas;aplankai;xfce;
Keywords[nb]=filbehandler;fil;utforsker;bla;filsystem;utforsk;mappe;katalog;xfce;
Keywords[nl]=bestand;beheerder;verkenner;verkennen;bestandssysteem;map;bladeren;xfce;
Keywords[oc]=fichièr;gestionari;explorador;navegador;navigador;sistèma;repertòri;dossièr;dorsièr;xfce;
Keywords[pl]=plik;menedżer;eksplorator;przeglądaj;system plików;katalog;folder;xfce;
Keywords[pt_BR]=arquivo;gerenciador;explorador;navegador;sistema de arquivos;diretório;pasta;xfce;
Keywords[pt]=ficheiro;gestor;explorador;navegador;sistema de ficheiros;diretório;pasta;xfce;
Keywords[ro]=fișier;administrator;gestionar;explorator;navigare;sistem de fișiere;director;dosar;xfce;
Keywords[ru]=файл;менеджер;проводник;обзор;файловая система;каталог;папка;xfce;
Keywords[sk]=file;manager;explorer;browse;filesystem;directory;folder;xfce;
Keywords[sq]=kartelë;përgjegjës;eksplorues;shfletoni;sistem kartelash;drejtori;dosje;xfce;
Keywords[sr]=омот;датотека;управник;истраживач;претраживач;систем;склоп;фасцикла;иксфце;
Keywords[sv]=fil;hanterare;utforskare;bläddra;filsystem;katalog;mapp;xfce;
Keywords[th]=แฟ้ม;ไฟล์;ตัวจัดการ;ตัวสำรวจ;เรียกดู;ระบบไฟล์;ไดเร็กทอรี;โฟลเดอร์;xfce;
Keywords[tr]=file;manager;explorer;browse;filesystem;directory;folder;xfce;
Keywords[ug]=file;manager;explorer;browse;filesystem;directory;folder;xfce;ھۆججەت؛باشقۇرغۇچى؛كۆز يۈگۈرت؛ھۆججەت سىستېمىسى؛مۇندەرىجە؛ قىسقۇچ؛
Keywords[uk]=файл;менеджер;провідник;перегляд;файлова система;каталог;тека;xfce;
Keywords[vi]=tệp;manager;explorer;browse;tệpsystem;directory;folder;xfce;
Keywords[zh_CN]=文件;管理;浏览;文件系统;目录;文件夹;xfce;
Keywords[zh_TW]=file;manager;explorer;browse;filesystem;directory;folder;xfce;
Keywords=file;manager;explorer;browse;filesystem;directory;folder;xfce;
OnlyShowIn=XFCE;
X-XFCE-MimeType=inode/directory;x-scheme-handler/trash;
X-AppStream-Ignore=True
Name[am]=የ ፋይል አስተዳዳሪ
Name[ar]=مدير الملفات
Name[ast]=Xestor de ficheros
Name[az]=Düzüm Yönəldəni
Name[be]=Кіраўнік файлаў
Name[be@tarask]=Файлавы кіраўнік
Name[bg]=Файлов мениджър
Name[bn]=ফাইল ব্যবস্থাপক
Name[ca]=Gestor de fitxers
Name[cs]=Správce souborů
Name[da]=Filhåndtering
Name[de]=Dateiverwaltung
Name[el]=Διαχειριστής αρχείων
Name[en_AU]=File Manager
Name[en_CA]=File Manager
Name[en_GB]=File Manager
Name[es]=Gestor de archivos
Name[et]=Failihaldur
Name[eu]=Fitxategi kudeatzailea
Name[fi]=Tiedostonhallinta
Name[fr]=Gestionnaire de fichiers
Name[gl]=Xestor de ficheiros
Name[he]=מנהל קבצים
Name[hr]=Upravitelj datotekama
Name[hu]=Fájlkezelő
Name[hy_AM]=Նիշք
Name[hye]=Նիշք
Name[id]=Manajer Berkas
Name[ie]=Gerentiator de files
Name[is]=Skráastjóri
Name[it]=Gestore dei file
Name[ja]=ファイルマネージャー
Name[kab]=Asefrak n ifuyla
Name[ka]=ფაილების მმართველი
Name[kk]=Файлдар басқарушысы
Name[ko]=파일 관리자
Name[lo]=ຕົວຈັດການໄຟລ໌
Name[lt]=Failų tvarkytuvė
Name[lv]=Failu pārvaldnieks
Name[ms]=Pengurus Fail
Name[nb]=Filbehandler
Name[nl]=Bestandbeheerder
Name[nn]=Filhandsamar
Name[oc]=Gestionari de fichièrs
Name[pl]=Menedżer plików
Name[pt_BR]=Gerenciador de arquivos
Name[pt]=Gestor de ficheiros
Name[ro]=Gestionar de fișiere
Name[ru]=Файловый менеджер
Name[sk]=Správca súborov
Name[sl]=Upravljalnik datotek
Name[sq]=Përgjegjës Kartelash
Name[sr]=Управник датотека
Name[sv]=Filhanterare
Name[te]=దస్త్ర నిర్వాహకము
Name[th]=โปรแกรมจัดการแฟ้ม
Name[tr]=Dosya Yöneticisi
Name[tt]=Файл менеджеры
Name[ug]=ھۆججەت باشقۇرغۇچ
Name[uk]=Файловий менеджер
Name[ur_PK]=فائل منیجر
Name[ur]=فائل منیجر
Name[vi]=Trình quản lý tệp
Name[zh_CN]=文件管理器
Name[zh_HK]=檔案管理員
Name[zh_TW]=檔案管理員
Name=File Manager
Comment[am]=በ ፋይል ስርአት ውስጥ መቃኛ
Comment[ar]=استعرض نظام الملفات
Comment[ast]=Restolar el sistema de ficheros
Comment[be]=Прагляд файлавай сістэмы
Comment[be@tarask]=Прагляд файлавай сыстэмы
Comment[bg]=Преглед на файловата система
Comment[bn]=ফাইল সিস্টেম ব্রাউজ করুন
Comment[ca]=Navegueu pel sistema de fitxers
Comment[cs]=Procházet systém souborů
Comment[da]=Gennemsøg filsystemet
Comment[de]=Das Dateisystem durchsuchen, um einen eigenen Befehl zu wählen
Comment[el]=Περιήγηση στο σύστημα αρχείων
Comment[en_AU]=Browse the file system
Comment[en_CA]=Browse the file system
Comment[en_GB]=Browse the file system
Comment[es]=Navegar por el sistema de archivos
Comment[et]=Sirvi failisüsteemi
Comment[eu]=Arakatu fitxategi sistema
Comment[fi]=Selaa tiedostojärjestelmää
Comment[fr]=Parcourir le système de fichiers
Comment[gl]=Examinar o sistema de ficheiros
Comment[he]=סייר במערכת הקבצים
Comment[hr]=Pregledaj datotečni sustav
Comment[hu]=Fájlrendszer tallózása
Comment[hy_AM]=Որոնել նիշային համակարգում
Comment[hye]=Որոնել նիշային համակարգում
Comment[id]=Ramban sistem berkas
Comment[ie]=Navigar li sistema de files
Comment[is]=Flakka í skráakerfinu
Comment[it]=Esplora il file system
Comment[ja]=ファイルシステムを参照します
Comment[kab]=Inig deg unagraw n yifuyla
Comment[ka]=ფაილურ სისტემაში ძებნა
Comment[kk]=Файлдық жүйені шолу
Comment[ko]=파일 시스템 탐색
Comment[lo]=ເລືອກເບິ່ງລະບົບໄຟລ໌
Comment[lt]=Naršyti failų sistemą
Comment[lv]=Pārlūkot failu sistēmu
Comment[ms]=Layar sistem fail
Comment[nb]=Bla gjennom filsystemet
Comment[nl]=Verken het bestandssysteem
Comment[nn]=Bla gjennom filsystemet
Comment[oc]=Percórrer lo sistèma de fichièrs
Comment[pl]=Przegląda system plików i zarządza jego zawartością
Comment[pt_BR]=Navegar no sistema de arquivos
Comment[pt]=Explorar sistema de ficheiros
Comment[ro]=Răsfoiți sistemul de fișiere
Comment[ru]=Просмотреть файловую систему
Comment[sk]=Prehliadať systém súborov
Comment[sl]=Brskajte po datotečnem sistemu
Comment[sq]=Shfletoni sistem kartelash
Comment[sr]=Разгледај склоп датотека
Comment[sv]=Bläddra i filsystemet
Comment[te]=దస్త్ర వ్యవస్థలో విహరించు
Comment[th]=ท่องดูระบบแฟ้ม
Comment[tr]=Dosya sistemine gözat
Comment[tt]=Файл системасын карау
Comment[ug]=ھۆججەت سىستېمىسىغا كۆز يۈگۈرتىدۇ
Comment[uk]=Оглянути файлову систему
Comment[vi]=Duyệt tệp hệ thống
Comment[zh_CN]=浏览文件系统
Comment[zh_HK]=瀏覽檔案系統
Comment[zh_TW]=瀏覽檔案系統
Comment=Browse the file system
