[Desktop Entry]
Name[be]=Плавальны Xfce
Name[bg]=Плаваща Xfce
Name[ca]=Xfce flotant
Name[cs]=Plovoucí Xfce
Name[da]=Svævende Xfce
Name[de]=Schwebendes Xfce
Name[el]=Floating Xfce
Name[en_AU]=Floating Xfce
Name[en_CA]=Floating Xfce
Name[en_GB]=Floating Xfce
Name[es]=Xfce flotante
Name[et]=Hõljuvad Xfce hiired
Name[eu]=Xfce flotatzen
Name[fi]=Kelluva Xfce
Name[fr]=Xfce flottant
Name[gl]=Xfce flotante
Name[he]=Xfce צף
Name[hr]=Plutajući Xfce
Name[hu]=Lebegő Xfce
Name[hy_AM]=Լողացող Xfce
Name[hye]=Լողացող Xfce
Name[id]=Xfce Mengambang
Name[is]=Fljótandi XFCE
Name[it]=Xfce galleggiante
Name[ja]=フローティング Xfce
Name[kab]=Xfce uffig
Name[kk]=Қалқымалы Xfce
Name[ko]=떠다니는 Xfce
Name[lo]=Xfce ແບບລອຍໄປມາ
Name[lt]=Plaukiojantys Xfce
Name[ms]=Xfce terapung
Name[nb]=Svevende Xfce
Name[nl]=Zwevende Xfce
Name[oc]=Xfce flotant
Name[pl]=Pływające Xfce
Name[pt_BR]=Xfce flutuante
Name[pt]=Xfce flutuante
Name[ro]=Xfce plutitor
Name[ru]=Летающий Xfce
Name[sk]=Plávajúce Xfce
Name[sl]=Plavajoči Xfce
Name[sq]=Xfce pezull
Name[sr]=Плутајући ИксФЦЕ
Name[sv]=Flytande Xfce
Name[th]=Xfce ล่องลอย
Name[tr]=Yüzen Xfce
Name[ug]=لەيلىمە Xfce
Name[uk]=Літаючі Xfce
Name[vi]=Logo Xfce trôi nổi
Name[zh_CN]=浮动 Xfce
Name[zh_TW]=浮動的 Xfce
Name=Floating Xfce
Comment[be]=Бурбалкі Xfce вакол экрана
Comment[bg]=Балончета с логото на Xfce около екрана
Comment[ca]=Bombolles amb el logotip de l'Xfce per tota la pantalla
Comment[cs]=Logo Xfce vznášející se jako bubliny po obrazovce
Comment[da]=Bobler Xfce-logoet rundt på skærmen
Comment[de]=Wirbelt das Xfce-Logo auf dem Bildschirm herum
Comment[el]=Φυσαλίδες του λογότυπου Xfce στην οθόνη
Comment[en_AU]=Bubbles the Xfce logo around the screen
Comment[en_CA]=Bubbles the Xfce logo around the screen
Comment[en_GB]=Bubbles the Xfce logo around the screen
Comment[es]=Burbujas con el logo de Xfce en la pantalla
Comment[et]=Lennutab Xfce logo mööda ekraani
Comment[eu]=Xfceren logoa pantailan zehar burbuilatzen du
Comment[fi]=Näyttää Xfce:n logoa ympäri näyttöä
Comment[fr]=Fait bouillonner le logo Xfce sur l’écran
Comment[gl]=Burbullas co logotipo de Xfce pola pantalla
Comment[he]=יוצר בועות של לוגו Xfce מסביב למסך
Comment[hu]=Az Xfce logót lebegteti a képernyőn
Comment[hy_AM]=Պղպջակեցոնում է Xfce֊ի տարբերանշանն ամբողջ ցուցադրիչով
Comment[hye]=Պղպջակեցնում է Xfce֊ի տարբերանշանն ամբողջ ցուցադրիչով
Comment[id]=Tampilkan gelembung logo Xfce di sekitar layar
Comment[is]=Freyðir XFCE-merkinu um skjáinn
Comment[it]=Gorgoglia il logo di Xfce intorno allo schermo
Comment[ja]=Xfce ロゴを画面の周りに泡立てる
Comment[kk]=Экранда Xfce логотипін көпіршіктер түрінде жылжытады
Comment[ko]=화면 여기저기에 Xfce 로고를 방울처럼 띄웁니다 
Comment[lo]=ໃຫ້ໂລໂກ້ Xfce ລອຍເປັນຟອງໄປມາທົ່ວໜ້າຈໍ
Comment[lt]=Plukdo Xfce logotipą po ekraną
Comment[ms]=Buih-buih berlogo Xfce terapung di dalam skrin
Comment[nb]=Xfce-logoen svever rundt på skjermen
Comment[nl]=Laat het Xfce-logo over het scherm zweven als zeepbel
Comment[oc]=Fa gargotar lo lògo Xfce a l'entorn de l'ecran
Comment[pl]=Wiruje logiem Xfce po ekranie
Comment[pt_BR]=Borbulha o logotipo do Xfce ao redor da tela
Comment[pt]=Bolhas do logotipo do Xfce à volta do ecrã
Comment[ro]=Creează baloane cu logo-ul Xfce pe ecran
Comment[ru]=Плавающие по экрану логотипы Xfce
Comment[sl]=Xfce logo brbota po zaslonu
Comment[sq]=Shfaq një flluskë me stemën e Xfce-së që lëviz nëpër ekran
Comment[sr]=Мехури грба ИксФЦЕ-а по заслону
Comment[sv]=Bubblar Xfce-loggan runt på skärmen
Comment[th]=ลอยภาพสัญลักษณ์ Xfce ไปทั่วหน้าจอ
Comment[tr]=Ekranın etrafında Xfce logosu ve kabarcıklar
Comment[ug]=ئېكران دائىرىسىدە Xfce تۇغىنىڭ كۆپۈكىنى لەيلەت
Comment[uk]=Бульбашки логотипів Xfce по всьому екранові
Comment[vi]=Logo Xfce trôi nổi khắp màn hình
Comment[zh_CN]=在屏幕四周冒出 Xfce 徽标的气泡
Comment[zh_TW]=在整個畫面上充滿 Xfce logo 的泡泡
Comment=Bubbles the Xfce logo around the screen
Exec=/usr/libexec/xfce4-screensaver/floaters /usr/share/pixmaps/xfce-logo-white.svg
TryExec=/usr/libexec/xfce4-screensaver/floaters
StartupNotify=false
Terminal=false
Type=Application
Categories=Screensaver;
OnlyShowIn=XFCE;
Hidden=true
