[Desktop Entry]
Version=1.0
Name[am]=ገበታ
Name[ar]=سطح المكتب
Name[ast]=Escritoriu
Name[az]=İş qoyağı
Name[be]=Працоўны стол
Name[be@tarask]=Стальніца
Name[bg]=Работен плот
Name[bn]=ডেস্কটপ
Name[ca]=Escriptori
Name[cs]=Plocha
Name[da]=Skrivebord
Name[de]=Schreibtisch
Name[el]=Επιφάνεια εργασίας
Name[en_AU]=Desktop
Name[en_CA]=Desktop
Name[en_GB]=Desktop
Name[eo]=Labortablo
Name[es]=Escritorio
Name[et]=Töölaud
Name[eu]=Mahaigaina
Name[fa_IR]=میزکار
Name[fi]=Työpöytä
Name[fr]=Bureau
Name[gl]=Escritorio
Name[he]=שולחן עבודה
Name[hr]=Radna površina
Name[hu]=Asztal
Name[hy_AM]=Աշխատասեղան
Name[hye]=Աշխատասեղան
Name[id]=Destop
Name[ie]=Pupitre
Name[is]=Skjáborð
Name[it]=Scrivania
Name[ja]=デスクトップ
Name[kab]=Tanarit
Name[ka]=სამუშაო მაგიდა
Name[kk]=Жұмыс үстелі
Name[ko]=데스크톱
Name[lo]=ໜ້າຈໍ
Name[lt]=Darbalaukis
Name[lv]=Darbvirsma
Name[ms]=Desktop
Name[nb]=Skrivebord
Name[ne]=डेस्कटप
Name[nl]=Bureaublad
Name[nn]=Skrivebord
Name[oc]=Burèu
Name[pa]=ਡੈਸਕਟਾਪ
Name[pl]=Pulpit
Name[pt_BR]=Área de trabalho
Name[pt]=Ambiente de trabalho
Name[ro]=Birou
Name[ru]=Рабочий стол
Name[si]=වැඩතලය
Name[sk]=Plocha
Name[sl]=Namizje
Name[sq]=Desktop
Name[sr]=Радна површ
Name[sv]=Skrivbord
Name[te]=డెస్క్‍టాప్
Name[th]=พื้นโต๊ะ
Name[tr]=Masaüstü
Name[tt]=Эш өстәле
Name[ug]=ئۈستەلئۈستى
Name[uk]=Стільниця
Name[ur_PK]=ڈیسک ٹاپ
Name[ur]=ڈیسک ٹاپ
Name[uz]=Ish stoli
Name[vec]=Desktop
Name[vi]=Màn hình nền
Name[zh_CN]=桌面
Name[zh_HK]=桌面
Name[zh_TW]=桌面
Name=Desktop
Comment[am]=የ ዴስክቶፕ መደብ እና ዝርዝር እና ምልት ባህሪ ማሰናጃ
Comment[ar]=حدد خلفية سطح المكتب وسلوك القوائم والأيقونات
Comment[ast]=Afita'l comportamientu del fondu d'escritoriu y menú ya iconos
Comment[az]=İş qoyağı arxalığını, seçməni, imgə davranışını ayarlayın
Comment[be]=Наладка фону працоўнага стала, меню і значкоў
Comment[be@tarask]=Прызначыць фон Стальніцы, наладзіць мэню і відарысы
Comment[bg]=Задаване на фон, менюта и поведение на иконите
Comment[ca]=Establiu el fons de l'escriptori i el comportament dels menús i de les icones
Comment[cs]=Nastavení pozadí pracovní plochy a nabídky a chování ikon
Comment[da]=Indstil skrivebordsbaggrund, og opførsel for menuer og ikoner
Comment[de]=Stellen Sie den Hintergrund des Schreibtischs sowie das Menü- und Symbolverhalten ein
Comment[el]=Ρύθμιση φόντου επιφάνειας εργασίας και συμπεριφοράς μενού και εικονιδίων
Comment[en_AU]=Set desktop background and menu and icon behaviour
Comment[en_CA]=Set desktop background and menu and icon behavior
Comment[en_GB]=Set desktop background and menu and icon behaviour
Comment[es]=Configure el fondo del escritorio y el comportamiento del menú y de los iconos
Comment[et]=Määra töölaua taust ning menüüde ja ikoonide käitumine
Comment[eu]=Ezarri idazmahaieko atzeko planoa eta menua eta ikono ingurunea
Comment[fa_IR]=تنظیم رفتار پس‌زمینه و فهرست و نقشک میزکار
Comment[fi]=Säädä työpöydän taustakuvaa, valikkoa ja kuvakkeita
Comment[fr]=Définir le fond d’écran du bureau, le comportement du menu et des icônes
Comment[gl]=Definir o fondo do escritorio e o comportamento do menú e das iconas
Comment[he]=הגדר התנהגות רקע, תפריט וסמלי שולחן עבודה
Comment[hr]=Postavi ponašanje pozadine radne površine i izbornika i ikona 
Comment[hu]=Az asztalháttér, valamint a menü- és ikonviselkedés beállítása
Comment[hy_AM]=Սահմանել աշխատասեղանի յետնաշերտի, ցանկի եւ պատկերակի վարքագիծը
Comment[hye]=Սահմանել աշխատասեղանի յետնաշերտի, ցանկի եւ պատկերակի վարքագիծը
Comment[id]=Atur latar belakang destop dan menu dan perilaku ikon
Comment[ie]=Selection de funde del Pupitre e de conduida de menú e icones
Comment[is]=Setja skjámynd, valmynd og hegðun tákna
Comment[it]=Impostazione dello sfondo della Scrivania, del menu e del comportamento delle icone
Comment[ja]=デスクトップの背景およびメニューとアイコンの振る舞いを設定します
Comment[kab]=Sbadu tikli n ugilal n tnarit akked wumuɣ akked tignit
Comment[ka]=გაასწორეთ სამუშაო მაგიდის ფონი, მენიუ და ხატულას ქცევა
Comment[kk]=Жұмыс үстел суреті, мәзір мен таңбашалардың әрекеттерін баптау
Comment[ko]=데스크톱 바탕 화면과 메뉴 그리고 아이콘 동작을 설정합니다
Comment[lo]=ຕັ້ງຄ່າພື້ນຫຼັງໜ້າຈໍ, ເມນູ ແລະ ພຶດຕິກຳໄອຄອນ
Comment[lt]=Nustatyti darbalaukio fono, meniu ir piktogramų elgseną
Comment[lv]=Uzstādīt darbvirsmas fonu un izvēlni, un ikonas uzvedību
Comment[ms]=Tetapkan latarbelakang desktop dan menu dan kelakuan ikon
Comment[nb]=Sett bakgrunnsbilde og innstillinger for menyen og ikoner
Comment[nl]=Stel het gedrag in van de bureaubladachtergrond, het menu en de pictogrammen
Comment[nn]=Set bakgrunnsbiletet og åtferda åt menyar og ikon
Comment[oc]=Reglar lo fons d'ecran del burèu, lo menú e lo compòrtament de las icònas
Comment[pl]=Konfiguruje tło pulpitu oraz ustawienia menu i ikon
Comment[pt_BR]=Definir fundo de área de trabalho e menu e comportamento de ícone
Comment[pt]=Definir o fundo do ambiente de trabalho e o comportamento do menu e ícones
Comment[ro]=Stabiliți fundalul spațiului de lucru și comportamentul meniului și pictogramelor
Comment[ru]=Задание фона рабочего стола и изменение настроек меню и значков
Comment[sk]=Nastavenie pozadia pracovnej plochy a ponuky a správania ikon
Comment[sl]=Nastavite ozadje namizja in obnašanje menijev in ikon
Comment[sq]=Caktoni sfond desktopi dhe sjellje menush dhe ikonash
Comment[sr]=Подеси позадину површи и понашање изборника и сличица
Comment[sv]=Ange skrivbordsbakgrund samt meny- och ikonbeteende
Comment[th]=กำหนดพื้นหลังพื้นโต๊ะและพฤติกรรมของเมนูและไอคอน
Comment[tr]=Masaüstü arkaplan ve simge seti davranışını ayarla
Comment[tt]=Эш өстәле фонын билгеләү һәм меню белән пиктограммалар көйләүләрен үзгәртү
Comment[ug]=ئۈستەلئۈستى تەگلىكى، تىزىملىك ۋە سىنبەلگە مەشغۇلاتىنى بەلگىلەش
Comment[uk]=Призначити фонове зображення стільниці, меню і значок заголовку
Comment[ur_PK]=ڈیسک ٹاپ کا پس منظر، مینیو اور آئکن سلوک متعین کریں
Comment[ur]=ڈیسک ٹاپ کا پس منظر، مینیو اور آئکن سلوک متعین کریں
Comment[vec]=Configura el sfondo del desktop e el conportamento del menù e de łe icone
Comment[vi]=Đặt nền màn hình, menu và hành vi biểu tượng
Comment[zh_CN]=设置桌面背景、菜单和图标行为
Comment[zh_HK]=設定桌面背景、選單與圖示行為
Comment[zh_TW]=設定桌面背景、選單、圖示行為
Comment=Set desktop background and menu and icon behavior
Exec=xfdesktop-settings
Icon=org.xfce.xfdesktop
Terminal=false
Type=Application
Categories=XFCE;GTK;Settings;DesktopSettings;X-XFCE-SettingsDialog;X-XFCE-PersonalSettings;
OnlyShowIn=XFCE;
StartupNotify=true
X-XfcePluggable=true
X-XfceHelpComponent=xfdesktop
X-XfceHelpPage=start
X-XfceHelpVersion=4.20
Keywords[bg]=работен плот;фон;тапет;настройки;xfce;
Keywords[ca]=escriptori;fons;fons de pantalla;configuració;xfce;
Keywords[cs]=pracovní plocha;pozadí;tapeta;nastavení;xfce;
Keywords[da]=skrivebord;baggrund;tapet;indstillinger;xfce;
Keywords[de]=Schreibtisch;Hintergrund;Hintergrundbild;Einstellungen;xfce;
Keywords[el]=επιφάνεια εργασίας;φόντο;εικόνα φόντου;ρυθμίσεις;xfce;
Keywords[en_CA]=desktop;background;wallpaper;settings;xfce;
Keywords[en_GB]=desktop;background;wallpaper;settings;xfce;
Keywords[es]=escritorio;fondo;imagen;preferencias;xfce;
Keywords[et]=töölaud;taust;taustapilt;seadistused;sätted;seaded;xfce;
Keywords[eu]=desktop;background;wallpaper;settings;xfce;
Keywords[fr]=desktop;background;wallpaper;settings;xfce;bureau;arrière-plan;papier peint;paramètres;
Keywords[gl]=desktop;background;wallpaper;settings;xfce;escritorio;fondo;configuración;opcións;
Keywords[he]=desktop;background;wallpaper;settings;xfce;
Keywords[hu]=asztal;háttérkép;beállítások;xfce;
Keywords[id]=desktop;latar belakang;wallpaper;pengaturan;xfce;
Keywords[it]=desktop;background;wallpaper;settings;xfce;
Keywords[ja]=デスクトップ;背景;壁紙;設定;xfce;
Keywords[ka]=desktop;background;wallpaper;settings;xfce;სამუშაო მაგიდა;ფონი;ფონისსურათი;
Keywords[kk]=desktop;background;wallpaper;settings;xfce;жұмыс үстелі;фон;түсқағаз;баптаулар;
Keywords[ko]=desktop;데스크톱;backgrund;바탕화면;wallpaper;배경;settings;설정;xfce;
Keywords[lo]=ໜ້າຈໍ;ພື້ນຫຼັງ;ວໍເປເປີ;ການຕັ້ງຄ່າ;xfce;
Keywords[lt]=darbalaukis;darbastalis;fonas;darbalaukio fonas;darbastalio fonas;nuostatos;nustatymai;xfce;
Keywords[nb]=skrivebord;bakgrunn;bakgrunnsbilde;skrivebordsbilde;innstillinger;xfce;
Keywords[nl]=bureaublad;achtergrond;bureaubladachtergrond;instellingen;xfce;
Keywords[oc]=burèu;fons;rèireplan;papièr;pintrat;paramètres;reglatges;configuracion;xfce;
Keywords[pl]=pulpit;tło;tapeta;ustawienia;xfce;
Keywords[pt_BR]=área de trabalho;plano de fundo;papel de parede;configurações;xfce;
Keywords[pt]=desktop;papel de parede;definições;xfce;
Keywords[ro]=birou;fundal; imagine de fundal; configurare; xfce;
Keywords[ru]=desktop;background;wallpaper;settings;xfce;рабочий;стол;фон;обои;настройки;параметры;
Keywords[sq]=desktop;sfond;rregullime;xfce;
Keywords[sr]=радна површ;позадина;слика позадине;поставке;иксфце;
Keywords[sv]=skrivbord;bakgrund;bakgrundsbild;inställningar;xfce;
Keywords[th]=เดสก์ท็อป;พื้นหลัง;วอลเปเปอร์;การตั้งค่า;xfce;
Keywords[ug]=ئۈستەلئۈستى؛تەگلىك؛تام قەغەز؛تەڭشەك؛xfce؛
Keywords[uk]=desktop;background;wallpaper;settings;xfce;
Keywords[vi]=desktop;background;wallpaper;settings;xfce;
Keywords[zh_CN]=desktop;background;wallpaper;settings;xfce;桌面;背景;壁纸;设置;
Keywords[zh_TW]=desktop;background;wallpaper;settings;xfce;
Keywords=desktop;background;wallpaper;settings;xfce;
